@import "../../../../styles/theme";

.title {
  margin-bottom: 4px;
  font-weight: 900;
}

.type {
  padding: 0 $p-l 0 0;
  font-weight: 600;
  color: $gray-600
}

.lastUpdate {
  font-size: $font-s;
  color: $gray-6;
}

.content {
  padding: $p-2xl 0 0 0;
  font-size: $font-m;
}
