@import "../../styles/theme";

.wrapper {
  position: sticky;
  z-index: 100;
  top: 0;

  &:hover {
    .collapser {
      opacity: 1;
    }
  }
}

.sidebar {
  z-index: 100;

  width: 250px;
  height: calc(100vh - $height-header);

  background-color: #fff;

  transition: transform 0.25s $trst-smooth, width 0.25s $trst-smooth;


  &.collapsed {
    &.sidebar {
      overflow: hidden;
      width: 74px;
    }

    .inner {
      background-color: $gray-100;
    }

    .collapser {
      transform: translateX(228px);
    }

    .group {
      pointer-events: none;
      opacity: 0;
    }
  }
}

.inner {
  width: 250px;
  height: 100%;
  border-right: 1px solid var(--border);
}

.header {
  display: flex;
  gap: $p-m;
  align-items: center;

  height: $height-header-project;
  padding: $p-2xl $p-l;

  font-size: $font-l;

  border-bottom: 1px solid var(--border);

  .label {
    overflow: hidden;
    display: flex;
    gap: $p-s;
    margin-left: 7px;

    a {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  a {
    display: block;
    color: $gray-800;
    white-space: pre;
  }
}

.logo {
  width: 42px;
  height: 42px;
  font-size: $font;
  line-height: $line-height-3xl;
}

.collapser {
  position: absolute;
  z-index: 1000;
  top: 27px;
  right: -13px;

  opacity: 0;
  background-color: #fff;
  border: 1px solid var(--border);
  border-radius: 10px;
  box-shadow: $box-shadow;

  transition: opacity 0.25s ease-in, transform 0.25s ease-in-out;

  &:hover {
    opacity: 1;
  }
}

.project {
  overflow: hidden;

  .smallOrg {
    margin: 2px 0 -4px 7px;
    font-size: $font-xs;
    color: $gray-500;
  }

  .label {
    line-height: 30px;
  }
}


.content {
  transition: opacity 0.25s $trst-smooth;
}
