.wrapper {
  position: sticky;
  z-index: 100;
  top: 0;

  &:hover {
    .collapser {
      opacity: 1;
    }
  }
}

.logo {
  height: 24px;
}

.sidebar {
  z-index: 100;

  overflow: hidden;

  width: 250px;
  height: calc(100vh);

  background-color: #fff;

  transition: transform 0.25s var(--anim-smooth), width 0.25s var(--anim-smooth);

  &.collapsed {
    &.sidebar {
      overflow: hidden;
      width: 53px;
    }

    .inner {
      background-color: var(--border1);
    }

    .group {
      pointer-events: none;
      opacity: 0;
    }
  }
}

.inner {
  display: flex;
  flex-direction: column;

  width: 250px;
  height: 100vh;

  border-right: 1px solid var(--border2);

  .header {
    padding: var(--spc-2xl);
  }

  .content {
    overflow: scroll;
  }
}

.userDropdown {
  width: 250px;
  padding: var(--spc-xl) var(--spc-2xl);
  line-height: var(--lh-s);
  ;

  strong {
    display: block;
    font-size: var(--font-m);
    font-weight: 600;
    line-height: var(--lh-m);
  }
}

.collapser {
  position: absolute;
  z-index: 1000;
  top: 20px;
  right: -18px;

  opacity: 0;
  background-color: #fff;
  border: 1px solid var(--border2);
  border-radius: 10px;
  box-shadow: var(--shadow1);

  transition: opacity 0.25s ease-in, transform 0.25s ease-in-out;

  &:hover {
    opacity: 1;
  }
}
