.wrapper {
  position: sticky;
  z-index: 100;
  top: 0;

  &:hover {
    .collapser {
      opacity: 1;
    }
  }
}

.sidebar {
  z-index: 100;

  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 250px;
  height: calc(100vh);

  background-color: #fff;
  border-right: 1px solid var(--border2);

  transition: transform 0.25s var(--anim-smooth), width 0.25s var(--anim-smooth);

  &.collapsed {
    &.sidebar {
      overflow: hidden;
      width: 53px;
    }

    .inner {
      background-color: var(--border1);
    }

    .group {
      pointer-events: none;
      opacity: 0;
    }
  }
}

.inner {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 100vh;

  .content {
    overflow: scroll;
  }
}

.collapser {
  position: absolute;
  z-index: 1000;
  top: 20px;
  right: -18px;

  opacity: 0;
  background-color: #fff;
  border: 1px solid var(--border2);
  border-radius: 10px;
  box-shadow: var(--shadow1);

  transition: opacity 0.25s ease-in, transform 0.25s ease-in-out;

  &:hover {
    opacity: 1;
  }
}

.bottom {
  padding: var(--spc-l)
}
