@import "../../../styles/theme";

.line {
  margin-bottom: 4px;
}

.add {
  cursor: pointer;

  display: flex;
  align-items: center;

  font-size: $font-s;
  font-weight: bold;
  font-style: italic;
  color: $gray-6;

  &:hover {
    color: $gray-7;

    .emptyAvatar {
      border-color: $gray-6;
    }
  }
}

.emptyAvatar {
  display: inline-block;

  width: 32px;
  height: 32px;
  margin-right: 8px;

  line-height: 29px;
  text-align: center;

  border: 1px dashed $gray-5;
  border-radius: 30px;
}
