@import "../../../styles/theme";

.onboarding {
  margin-bottom: var(--spc-4xl);
  padding: var(--spc-6xl) var(--spc-6xl) var(--spc-4xl);
}

.header {
  margin-bottom: var(--spc-3xl);
}

.item {
  position: relative;

  display: flex;
  gap: var(--spc-xl);
  align-items: center;

  padding: var(--spc-l) 0;

  // border-bottom: 1px solid var(--border2);
}

.check {
  position: relative;
  z-index: 2;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 42px;
  height: 42px;

  font-size: var(--font-2xl);
  color: white;

  background-color: var(--accent2);
  border-radius: 50%;
  outline: 2px solid white;

  &.pending {
    width: 22px;
    height: 22px;
    margin: 0 9px;

    background-color: white;
    border: 2px solid var(--accent2);
  }

  .donut {
    width: 6px;
    height: 6px;
    background-color: var(--accent2);
    border-radius: 50%;
  }
}

.line {
  position: absolute;
  z-index: 1;
  top: 45px;
  left: 19px;

  width: 1px;
  height: 60px;

  border-left: 2px solid var(--border2);
}


.desc {
  flex-grow: 1;
}

.sub {
  color: var(--text2);
}

.action {
  flex-grow: 0;
}
