@import "../../../../../styles/theme";

.menuWrapper {
  position: relative;
}

.menu {
  display: flex;
  gap: 0;

  padding: var(--spc-s) var(--spc-m);

  background-color: #fff;
  border: 1px solid $gray-3;
  border-radius: $border-radius;
  box-shadow: $box-shadow2, 0 3px 15px -3px rgb(13 20 33 / 13%);

  button {
    cursor: pointer;

    padding: var(--spc-s) var(--spc);

    font-size: var(--font);
    line-height: 0;

    background-color: #fff;
    border: none;
    border-radius: $border-radius-s;

    transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;

    &:hover {
      background-color: $gray-4;
    }

    &.isActive {
      color: var(--accent2);
    }
  }
}
