@import "../../styles/theme";

.main {
  padding: var(--spc-6xl) var(--spc-6xl) var(--spc-4xl);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: $p-l;
}

.actions {
  display: flex;
  gap: $p-m;
}

.title {
  font-size: var(--font-m);
}

.item {
  padding: $p-xl $p $p-2xl $p-xl !important;
  border: 1px solid var(--border2);
  border-radius: $border-radius-s;
}

.info {
  display: flex;
  gap: $p;
  font-size: var(--font-s);
  color: var(--text2)
}

.list {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: $p-xl;
  margin-top: $p-5xl;
}
