@import "../../styles/theme";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: $p-l;
}

.actions {
  display: flex;
  gap: $p-m;
}

.title {
  font-size: $font-m;
}

.item {
  padding: $p-xl $p $p-2xl $p-m !important;
  border-bottom: 1px solid var(--border1);

  &.tdAvatar {
    width: 42px;
  }
}

.info {
  display: flex;
  gap: $p;
  font-size: $font-s;
  color: var(--text2)
}
