@import "../../styles/theme";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.actions {
  display: flex;
  gap: $p-m;
}

.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 300px;
}

.title {
  font-size: $font-m;
}

.item {
  padding: $p-xl $p $p-xl $p-m !important;

  &.tdAvatar {
    width: 64px;
  }
}

.info {
  display: flex;
  gap: $p-xl;
  font-size: $font-s;
}
