@import "../../../../styles/theme";

.split {
  display: grid;
  grid-template-columns: 50% 50%;

  &.withLabel:not(.isCreated) {
    .right {
      padding-top: $p-4xl + 1px;
    }
  }
}

.removed {
  background-color: #ffccc7;
}

.added {
  display: inline-block;
  background-color: #d9f7be;
}

.left,
.right {
  padding: $p $p-xl;
}

.left {
  border-right: 1px solid $gray-4;
}

.toggle {
  cursor: pointer;
  font-size: var(--font-s);
}

.empty {
  font-style: italic;
  color: $gray-6;
}

.label {
  padding: $p-s 0;
  font-weight: 600;
}
