@import "../../../styles/theme";

.card {
  margin: var(--spc-m) 0 0 40px;
  padding: var(--spc-l) var(--spc-2xl);

  background-color: white;
  border-radius: $border-radius-s;
  box-shadow: $box-shadow2;
}
