@import "../../theme.scss";

.app {
  min-height: 100vh;
  width: 100vw;

  .header {
    padding: 0 8px !important;
    background: transparent !important;
    display: grid !important;
    grid-template-columns: 150px 1fr 200px;

    border-bottom: 1px solid $gray-5;
    line-height: 61px;
  }
}

.logo {
}


.headerRight {
  display: grid;
  grid-template-columns: 130px 40px;
  justify-items: center;
  justify-content: end;
}

.menu {
  background: transparent!important;
  border-bottom: none;
}
