@import "../../../styles/theme";


.status {
  display: inline-flex;
  gap: var(--spc-m);
  align-items: center;

  padding: 1px var(--spc-s);

  font-size: var(--font-s);
  font-weight: 500;
  text-transform: capitalize;

  border: 0 solid;
  border-radius: 10px;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 10px;

  &.pending {
    background-color: var(--mauve-3);
    border-color: var(--mauve-4);
  }

  &.running {
    background-color: var(--mauve-3);
    border-color: var(--mauve-4);
  }

  &.success {
    background-color: var(--grass-8);
    border-color: var(--grass-4);
  }

  &.failed {
    background-color: var(--tomato-9);
    border-color: var(--tomato-4);
  }

  &.skipped {
    background-color: var(--mauve-3);
    border-color: var(--mauve-4);
  }

  &.cancelled {
    background-color: var(--mauve-3);
    border-color: var(--mauve-4);
  }

  &.timeout {
    background-color: var(--amber-5);
    border-color: var(--amber-4);
  }
}
