@import "../../../styles/theme";

.select {
  width: 250px;
  height: 40px;
  margin-bottom: $p-xl;
}

.install {
  margin-top: $p-s;
  padding-top: $p-s;
  border-top: 1px solid var(--border);
}

.option {
  display: flex;
  gap: $p-m;
  align-items: center;
}
