@import "../../../styles/theme";

.line {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: var(--spc-l) var(--spc-2xl);

  border-bottom: 1px solid var(--border1);


  &:hover {
    background-color: rgba($gray-50, 50%);
  }
}

.left {
  display: flex;
  gap: var(--spc-xl);
  align-items: center;
}

.right {
  display: flex;
  gap: var(--spc-m);
  align-items: center;
}

.info {
  display: flex;
  flex-direction: column;
}

.sub {
  font-size: var(--font-s);
  line-height: var(--lh-s);
  ;
  color: $gray-400;
}
