@import "../../../styles/theme";

.staging {
  display: flex;
  gap: $p-m;
  align-items: center;

  padding: $p-xl;

  font-size: $font-s;

  border-bottom: 1px solid $color-border;

}

.edit {
  cursor: pointer;
  width: 34px;
  font-size: $font-l;
}
