@import "../../../styles/theme";

.staging {
  display: flex;
  gap: $p-m;
  align-items: center;

  height: 72px;
  padding: $p-xl;

  font-size: $font-s;

  border-bottom: 1px solid var(--border2);
}

.edit {
  cursor: pointer;

  width: 40px;
  margin-right: 10px;

  font-size: $font-l;
  text-align: center;
}

.badge {
  :global(.ant-badge-count) {
    top: 16px;
    right: 7px;
  }
}
