.container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
}

.centered {
  width: 500px;
}

.content {
  margin: var(--spc-5xl) 0 var(--spc-3xl) 0;
}
