.header {
  padding: var(--spc-3xl) var(--spc-5xl);

}

.form {
  display: flex;
  flex-direction: column;
  gap: var(--spc-l);

  padding: 0 var(--spc-5xl);
  padding-bottom: var(--spc-l);
}

.advanced {
  margin-top: var(--spc-5xl);

  .inner {
    margin: var(--spc-5xl) 0;
  }

  .desc {
    width: 290px;
    padding-right: 40px;
    color: var(--text2);
  }
}

.inputs {
  padding-top: var(--spc-3xl);
}
