.header {
  padding: var(--spc-3xl) var(--spc-5xl);

}

.form {
  display: flex;
  flex-direction: column;
  gap: var(--spc-l);

  padding: 0 var(--spc-5xl);
  padding-bottom: var(--spc-l);
}

.advanced {
  margin-top: var(--spc-5xl);
}
