@import "../../styles/theme";

.header {
  display: grid !important;
  grid-template-columns: 140px 50px 1fr 200px;

  height: 53px !important;
  padding: 0 8px !important;

  // border-bottom: 1px solid $gray-4;
  line-height: 53px !important;
  color: white;

  background: $slate-800 !important;

  :global {
    .ant-btn {
      color: white;

      &.ant-btn-text {
        &:hover {
          color: $gray-100;
          background-color: $slate-700;
        }
      }
    }

    .ant-divider {
      border-inline-start: 1px solid rgb(255 255 255 / 20%);
    }
  }
}

.avatar {
  margin-left: $p-l;
  color: $gray-8;

  >span {
    background-color: transparent;
  }
}

.logo {
  display: flex;
  gap: $p-l;
  align-items: center;
  padding: 0 0 0 $p-l;

  svg {
    font-size: $font-2xl;
  }

  img {
    height: 35px;
    filter: invert(1);
  }
}

.right {
  display: flex;
  gap: 8px;
  justify-content: flex-end;

  margin-top: -2px;
  padding-right: 8px;

  color: inherit;
}

.menu {
  background: transparent !important;
  border-bottom: none;
}

.userDropdown {
  width: 256px;
  padding-bottom: 4px;

  background-color: #fff;
  border-radius: $border-radius-s;
  box-shadow:
    #fff 0 0 0 0,
    rgb(0 0 0 / 5%) 0 0 0 1px,
    rgb(0 0 0 / 10%) 0 10px 15px -3px,
    rgb(0 0 0 / 10%) 0 4px 6px -4px;

  &Profil {
    padding: $p-l $p-xl;
    line-height: $line-height-s;

    strong {
      font-size: $font-s;
      font-weight: normal;
      color: $gray-7;
    }
  }

  :global {
    .ant-divider {
      margin: 4px 0;
    }
  }

  &Item {
    display: flex;
    gap: $p-m;
    align-items: center;

    padding: 8px 16px;

    color: $gray-8;

    span {
      padding-right: 16px;
    }

    &:hover {
      color: $gray-11;
      background-color: $gray-3;
    }
  }
}
