@import '../../theme.scss';

.header {
  padding: 0 8px !important;
  background: white !important;
  display: grid !important;
  grid-template-columns: 150px 50px 1fr 200px;

  border-bottom: 1px solid $gray-4;
  line-height: 63px;
}

.orgSelect {
  color: $gray-6;
}

.avatar {
  background-color: $gray-3 !important;
  color: $gray-6;
  margin-left: 18px;
}

.logo {
  padding: 0 0 0 8px;
  img {
    height: 35px;
  }
}

.right {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
  padding-right: 8px;
  margin-top: -2px;
}

.menu {
  background: transparent !important;
  border-bottom: none;
}
