@import "../../styles/theme";

.header {
  display: grid;
  grid-template-columns: 120px 50px 1fr 200px;
  align-items: center;

  height: $height-header;
  padding: 0 $p-xl 0 13px;

  line-height: $height-header;
  color: white;

  background: #242d3c;
}

.logo {
  height: 22px;
}

.org {
  display: flex;
  gap: $p-l;
  align-items: center;
  min-width: 200px;
}

.current {
  color: var(--text);
}

.right {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
  color: inherit;
}

.userDropdown {
  width: 256px;
  padding: $p-l $p-xl;
  line-height: $line-height-s;

  strong {
    font-size: $font-s;
    font-weight: normal;
    color: $gray-7;
  }
}
