.main {
  width: 250px;
}

.inputGroup {
  .input {
    width: 100%;
    padding: var(--spc-l) var(--spc-2xl) var(--spc-l) var(--spc-l);
    border-bottom: 1px solid var(--border1);

    &::placeholder {
      color: var(--text1);
    }
  }

  .actions {
    position: absolute;
    top: var(--spc-s);
    right: var(--spc-s);
  }
}

.groups {
  overflow: scroll;
  max-height: 350px;
  margin-top: var(--spc);
}

.group {
  padding-top: var(--spc-l);
  border-bottom: 1px solid var(--border1)
}

.name {
  padding: 0 var(--spc-l);
  font-weight: 500;
  color: var(--text2)
}

.rows {
  padding: var(--spc) 2px;
}

.row {
  cursor: pointer;

  display: grid;
  grid-template-columns: 20px 1fr;
  gap: var(--spc-2xl);
  align-items: center;

  padding: 6px var(--spc-l);

  font-size: var(--font);
  color: var(--text2);

  &:hover {
    color: var(--text);
    background-color: var(--bg2);

    .icon {
      background-color: #fff;
    }
  }

  &.focused {
    color: var(--text);
    background-color: var(--bg3);

    .icon {
      background-color: #fff;
    }
  }

  &.selected {
    color: var(--accent2);
    background-color: var(--bg3);

    .icon {
      background-color: #fff;
    }
  }
}
