@import "../../styles/theme";

.logo {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: $p-m;
  align-items: center;

  width: 132px;
  height: 100%;

  >svg {
    height: inherit;
  }
}

.icon {
  font-size: inherit;
}
