.logo {
  --logo-height: 32px;

  display: flex;
  align-items: center;
  width: 132px;
  height: 100%;

  >svg {
    height: var(--logo-height);
  }
}

.icon {
  margin-right: var(--spc-m);
  font-size: inherit;
}
