@import '../../theme.scss';

.container {
  &:hover {
    .toolbar {
      opacity: 1;
    }
  }
}

// Toolbar
.toolbar {
  position: absolute;
  z-index: 1;
  right: 18px;
  top: 10px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  .toolbarItem {
    background-color: rgba($gray-3, 0.5);
    color: $gray-7;
    padding: 0 8px;
    &:hover {
      background-color: rgba($gray-4, 1);
      color: $gray-8;
    }
  }
}

// Graph
:global {
  .x6-cell {
    transition: opacity 0.2s ease-in;
    opacity: 1;
  }

  .x6-edge-label {
    // transition: opacity 0.2s ease-in;
    // opacity: 0;
    & text {
      font-size: 8px;
      font-weight: 100;
    }
  }
}

.animateRunningLine {
  animation: running-line 30s infinite linear;
}
.animateRunningLineReverse {
  animation: running-line 30s reverse infinite linear;
}
.animateExchangeLine {
  animation: exchange-line 30s infinite linear;
}

.hideElement {
  // fill: $gray-1;
  opacity: 0.25 !important;
}
:global {
  :local(.hideElement) {
    &.x6-edge {
      opacity: 0.1 !important;
    }
  }
}

@keyframes running-line {
  to {
    stroke-dashoffset: -1000;
  }
}
@keyframes exchange-line {
  from {
    stroke-dashoffset: -500;
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
