@import "../../styles/theme";

.container {
  position: relative;

  display: grid;

  height: 100%;
  min-height: 450px;

  font-weight: 300;

  &:hover {
    >div[data-toolbar] {
      opacity: 1;
    }
  }
}


// Graph
.animateRunningLine {
  animation: running-line 30s infinite linear;
}

.animateRunningLineReverse {
  animation: running-line 30s reverse infinite linear;
}

.animateExchangeLine {
  animation: exchange-line 30s infinite linear;
}

.hideElement {
  // fill: $gray-1;
  opacity: 0.25 !important;
}

:global {
  .x6-cell {
    opacity: 1;
    transition: opacity 0.2s ease-in;
  }

  .x6-edge-label {
    & text {
      font-size: 8px;
      font-weight: 100;
    }
  }

  :local(.hideElement) {
    &.x6-edge {
      opacity: 0.1 !important;
    }
  }

  .x6-widget-selection-inner {
    border: 1px dotted $blue-400;
    box-shadow: none;
  }

  .x6-widget-selection-box.x6-widget-selection-box-node {
    border: none;
    box-shadow: none;
  }
}

@keyframes running-line {
  to {
    stroke-dashoffset: -1000;
  }
}

@keyframes exchange-line {
  from {
    stroke-dashoffset: -500;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
