@import "../../styles/theme";
@import "../../styles/mixin";

$min-height: 34px;

.line {
  display: grid;
  grid-template-columns: 150px auto;
  align-items: flex-start;

  min-height: $min-height;
  margin-bottom: $p-l;

  line-height: $line-height-m;


  .label {
    padding-top: 2px;
    font-size: $font-s;
    color: $gray-500;
  }

  .values {
    display: flex;
    flex-wrap: wrap;
    gap: $p $p;
    align-items: flex-start;
    justify-content: flex-start;

    min-height: $min-height;

    &.clickToEdit {
      @include editable;

      margin: -5px -8px;
    }
  }

  .item {
    display: inline-flex;
    gap: $p-s;
    align-items: center;

    min-width: 120px;
    padding: $p-xs $p-l;

    font-size: $font;
    color: $gray-700;

    background: $slate-50;
    border-radius: 10px;

    &:hover {
      color: $primary;
      background: $slate-100;
    }

    >svg {
      font-size: $font-s;
    }
  }

}
