$height: 40px;

.logo {
  display: flex;
  gap: 12px;
  align-items: center;

  width: 150px;
  height: 100%;

}

.icon {
  width: $height;
  height: $height;
  font-size: 40px;
  color: #4f46e5;
}

.name {
  width: 90%;
  height: $height;
}
