@import "../../../styles/theme";

.label {
  overflow: hidden;
  display: inline-block;
  flex-shrink: 0;

  width: inherit;
  padding: 0 $p-m 0 $p-l;

  font-size: 12px;
  line-height: 12px;
  color: #666;
  text-overflow: ellipsis;
  white-space: pre-wrap;
}

.node {
  display: flex;
  align-items: center;

  width: 100%;
  height: 100%;

  font-size: 11px;
  color: $gray-900;

  background-color: #fff;
  border: 1px solid $gray-100;
  border-left: 4px solid transparent;
  border-radius: $border-radius;
  box-shadow: 0 2px 5px 1px rgb(0 0 0 / 6%);

  transition: box-shadow 0.2s ease-in;

  &:hover {
    box-shadow: 0 0 0 4px #d4e8fe;
  }

  &.thirdparty {
    border-left-color: #d3adf7;

    &:hover {
      box-shadow: 0 0 0 4px #f9f0ff;
    }
  }

  &.project {
    border-left-color: #ffe58f;

    &:hover {
      box-shadow: 0 0 0 4px #fffbe6;
    }
  }

  &.hosting {
    align-items: flex-start;
    border: 1px solid $slate-200;

    // background-color: $slate-50;
    border-radius: 0;
    box-shadow: none;

    &:hover {
      box-shadow: 0 0 0 4px $gray-100;
    }

    .label {
      margin: -16px 0 0;
      padding-left: $p-s;
      font-weight: 600;
      color: $gray-400;
    }
  }

  &.component {
    border-left-color: $blue-100;
  }
}
