@import '../../theme.scss';

.list {
  margin: 18px 8px 8px 4px;
}

.date {
  color: $gray-5;
  font-size: $font-xs;
}

.item {
  font-size: $font-s;
  line-height: $line-height-s;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  .linkUser {
    color: $gray-8;
    // font-weight: bold;
  }
}
