@import "../../styles/theme";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 14px;

  h5 {
    margin-bottom: 0;
  }
}

.empty {
  color: $gray-7;
}

th.tcell {
  display: none;
}

tbody td.tcell {
  padding: $p-l 0 !important;
}

.title {
  font-size: $font;
  color: $gray-900;
  display: flex;
  gap: $p-l;
}
