/* stylelint-disable rule-empty-line-before */
@import "../../../styles/mixin";

.wrapper {

  &:focus-within,
  &.showToolbar {
    .toolbar {
      pointer-events: initial;
      opacity: 1;
    }
  }
}

.mini {
  @include editable;

  position: relative;
  margin: -6px -8px;
  padding: 6px 8px;
}

.editor {
  min-height: 30px;
  background-color: #fff;

  :global {

    // stylelint-disable selector-class-pattern
    .ProseMirror-focused:focus {
      outline: none;
      box-shadow: none;
    }

    .ProseMirror {
      min-height: inherit;

      &:focus,
      &:hover {
        outline: none;
        box-shadow: none;
      }

      p:last-child {
        margin-bottom: 0;
      }


      p.is-editor-empty:first-child::before {
        pointer-events: none;
        content: attr(data-placeholder);

        float: left;

        height: 0;

        color: var(--text1);
      }
    }
  }
}

.animWrapper {
  --borderWidth: 2px;

  position: relative;
  z-index: 0;
  border-radius: var(--borderWidth);

  &:focus {
    .toolbar {
      pointer-events: initial;
      opacity: 1;
    }
  }
}

.loading::before,
.finish::before {
  content: '';

  position: absolute;
  z-index: -1;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));

  width: calc(100% + var(--borderWidth) * 2);
  height: calc(100% + var(--borderWidth) * 2);

  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  background: linear-gradient(60deg, #a166ab 30%, hsl(217.5deg 25% 18.82% / 20%) 50%, rgb(128 186 232 / 0%) 70%, rgb(125 185 232 / 0%) 100%);
  background-size: 300% 300%;
  border-radius: calc(2 * var(--borderWidth));

  animation: loading 3s ease alternate infinite;
}


@keyframes loading {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.finish::before {
  animation: finish 1.5s ease alternate forwards;
}

@keyframes finish {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 100%;
  }

  100% {
    background-position: 200% 200%;
  }
}

.toolbar {
  pointer-events: none;

  position: absolute;
  z-index: 1;
  top: -32px;
  right: 0;

  opacity: 0;

  transition: opacity 0.25s ease-in-out;
}
