@import "../../styles/theme";
@import "../../styles/mixin";

.fake {
  margin-bottom: $p-l;
}

.input {
  @include editable(4px $p-m);

  font-size: $font-3xl;
  font-weight: $font-semi;
  line-height: 0;
}
