@import "../../styles/theme";
@import "../../styles/mixin";

.fake {
  flex-grow: 1;
}

.input {
  @include editable(4px $p-m);

  font-weight: $font-semi;
  line-height: 0;

  &.h1 {
    font-size: $font-3xl;
  }

  &.h2 {
    font-size: $font-xl;
  }
}
