.content {
  width: var(--radix-popover-trigger-width);
}

.select {
  display: flex;
  gap: var(--spc-l);
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: var(--spc-m) var(--spc-xl);

  font-size: var(--font);

  background-color: #fff;
  border: 1px solid var(--border3);
  border-radius: var(--radius2);
}

.pick {
  display: flex;
  gap: var(--spc-l);
  align-items: center;
}

.input {
  padding: var(--spc) var(--spc);
  border-color: transparent;
}

.list {
  overflow: scroll;
  max-height: 250px;
}

.row {
  cursor: pointer;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: var(--spc-l) var(--spc-2xl);

  font-size: var(--font);
  color: var(--text);

  background-color: #fff;
  border-top: 1px solid var(--border2);

  .visibility {
    font-size: var(--font-xs);
    color: var(--text4);
  }

  &:hover {
    color: var(--text);
    background-color: var(--bgHover);
  }

  &.focused {
    color: var(--text);
    background-color: var(--bgHover);
  }
}

.empty {
  padding: var(--spc-l) var(--spc-2xl);
  color: var(--text3);
}
