@import "../../../../styles/theme";

.container {
  display: grid;
  grid-template:
    "left right"
    "staged staged" / 1fr;
  row-gap: $p-xxl;
  column-gap: $p-xl;

  min-width: $min-w;
  max-width: $max-w;
  margin: 0 auto;

  .left {
    grid-area: left;
  }

  .right {
    grid-area: right;
    width: 250px;
  }

  .staged {
    display: flex;
    grid-area: staged;
    flex-direction: column;
    gap: $p-xl;

    padding-top: $p-xxl;
    padding-bottom: $p-xxl;
  }
}

.card {
  background-color: #fff;
  border: 1px solid $gray-100;
  box-shadow: $box-shadow;
}

.main {
  padding: $p-xxxl;
}

.title {
  margin-bottom: $p;
}

.subtitle {
  font-size: $font-s;
  color: $gray-400;
}

.content {
  padding: $p-xxl 0 0 0;
}

// Right
.infoHeader {
  margin-bottom: $p-s;
  font-size: $font-s;
  font-weight: 600;
  color: $gray-900;
}

.infoBlock {
  margin-bottom: $p-xxl;
}

.userList {
  padding: 0;
  list-style: none;

  li {
    margin-bottom: 4px;
  }
}

// Merge
.merge {
  background-color: #fff;
  border-top: 1px solid $gray-100;
}

.checkLine {
  display: flex;
  gap: $p-m;
  padding: $p-l $p-xxl;
  border-bottom: 1px solid $gray-100;
  align-items: center;
  color: $gray-500;

  :global(> .anticon) {
    font-size: $font-l;
    color: $gray-400;
  }

  &.success {
    :global(> .anticon) {
      color: $green-600;
    }
  }

  &.warning {
    color: $orange-600;

    :global(> .anticon) {
      color: $orange-600;
    }
  }

  &.danger {
    color: $red-600;

    :global(> .anticon) {
      color: $red-600;
    }
  }

  &:last-child {
    padding: $p-xl $p-xl;
    background-color: $gray-50;
    border-bottom: none;

    &.merged {
      background-color: $purple-50;
    }
  }
}

.mergeButton {
  &.success {
    background-color: $green-600;

    &:hover {
      background-color: $green-500;
    }
  }

  &.merged {
    color: $purple-700;
  }
}
