.container {
  display: flex;
}

.left {
  display: flex;
  flex-direction: column;
  gap: var(--spc-3xl);

  min-width: calc(var(--w-col) + 60px);
  padding: var(--spc-3xl) var(--spc-6xl);
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: var(--spc-3xl);
  padding: var(--spc-4xl) 0;
}

.staged {
  display: flex;
  grid-area: staged;
  flex-direction: column;
  gap: var(--spc-3xl);

  max-width: var(--w-col);
}
