@import "../../../../styles/theme";

.left {
  width: calc(100% - 300px);
}

.right {
  width: 300px;
}

.main {
  margin-bottom: $p-4xl;
  border-bottom: 1px solid var(--border);
}

.card {
  padding: $p-4xl $p-5xl;
}

.mainTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.editDropdown {
  min-width: 125px !important;
}

.editSave {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  padding: $p-xl $p-3xl;

  color: $gray-500;

  border-top: 1px solid $gray-100;
}

.title {
  margin-bottom: $p-m;
}

.subtitle {
  font-size: $font-s;
  color: $gray-400;
}

.content {
  padding: $p-2xl 0 0 0;
}


.addUserBtn {
  width: auto !important;
  height: auto !important;
  padding: 1px $p-m 0 $p-m !important;

  line-height: $line-height-s;

  background-color: transparent !important;
}

.noDiff {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}

.sidebar {
  padding: $p-l $p-4xl;
}

.staged {
  display: flex;
  grid-area: staged;
  flex-direction: column;
  gap: $p-3xl;

  width: calc($min-w - 250px);
  margin: 0 auto;
  padding: $p-4xl 0;
}
