@import "../../../../styles/theme";

.title {
  margin-bottom: 4px !important;
  font-size: $font-3xl !important;
}

.type {
  padding: 0 $p-l 0 0;
  font-weight: 600;
  color: $gray-600
}

.lastUpdate {
  font-size: $font-s;
  color: $gray-6;
}

.headings {
  position: absolute;
  z-index: 1;
  top: 20px;
}

.content {
  padding: $p-2xl 0 0 0;
  font-size: $font-m;
}
