@import "../../../../styles/theme";

.container {
  position: relative;

  display: grid;
  grid-template-columns: 200px ($main-col-w) 200px;
  gap: $p-xl;

  min-height: 100vh;
  padding: $p-3xl;

  background-color: #fff;

  .title {
    margin-bottom: 4px;
  }
}

.lastUpdate {
  font-size: $font-s;
  color: $gray-6;
}

.headings {
  position: absolute;
  z-index: 1;
  top: 20px;

  // left: -200px;
}

.tldr {
  margin-top: $p-2xl;
}

.tldrList {
  padding: 0;
  list-style: none;

  li {
    margin: 0;
  }
}

.content {
  padding: $p-2xl 0 0 0;
}

.userList {
  padding: 0;
  list-style: none;

  li {
    margin-bottom: 4px;
  }
}
