.field {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
}

.label {
  margin-bottom: var(--spc-s);
  font-size: var(--font-s);
  color: var(--text3);
}

.message {
  min-height: 25px;
  padding: var(--spc) 0 0 0;
  font-size: var(--font-s);
  color: var(--tomato-10);
}
