@import "../../../styles/theme";

.field {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
}

.label {
  margin-bottom: $p-s;
  font-size: $font-s;
  color: var(--text3);
}

.message {
  min-height: 25px;
  padding: $p 0 0 0;
  font-size: $font-s;
  color: var(--tomato-10);
}
