@import "../../styles/theme";

.block {
  margin-bottom: $p-2xl;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: $p-s;

  font-size: $font-s;
  font-weight: 600;
  color: $gray-900;
}
