@import "../../../styles/theme";

.team {
  display: inline-flex;
  gap: var(--spc-5xl);
}

.block {
  min-width: 100px;
}

.label {
  padding: 0 0 var(--spc-m);
  font-size: var(--font-s);
  color: var(--text-secondary);
}
