@import "../../styles/theme";

.card {
  position: relative;

  background-color: #fff;
  border: 1px solid $gray-100;
  border-radius: var(--radius2);
  box-shadow: var(--shadow1);

  &.padded {
    padding: var(--spc-2xl) var(--spc-3xl);
  }

  &.large {
    padding: var(--spc-3xl) var(--spc-5xl);
  }

  &.seamless {
    border-color: transparent;
    box-shadow: none;
  }

  &.transparent {
    background-color: transparent;
  }
}

.actions {
  display: flex;
  align-items: center;
  justify-content: end;

  padding: var(--spc-l) var(--spc-xl);

  color: $gray-500;

  background-color: $gray-50;
  background-color: transparent;
  border-top: 1px solid $gray-100;
}

.content {
  padding: var(--spc-2xl) var(--spc-3xl);

  &.large {
    padding: var(--spc-3xl) var(--spc-5xl);
  }
}
