@import "../../styles/theme";

.card {
  position: relative;

  background-color: #fff;
  border: 1px solid $gray-100;
  border-radius: $border-radius-s;
  box-shadow: $box-shadow;

  &.padded {
    padding: $p-2xl;
  }

  &.large {
    padding: $p-3xl $p-5xl;
  }

  &.seamless {
    border-color: transparent;
    box-shadow: none;
  }

  &.transparent {
    background-color: transparent;
  }
}

.actions {
  display: flex;
  align-items: center;
  justify-content: end;

  padding: $p-l $p-xl;

  color: $gray-500;

  background-color: $gray-50;
  background-color: transparent;
  border-top: 1px solid $gray-100;
}

.content {
  padding: $p-2xl;

  &.large {
    padding: $p-3xl $p-5xl;
  }
}
