.group {
  margin-bottom: 0;
}

.unchanged {
  display: flex;
  gap: var(--spc-m);

  padding: var(--spc) var(--spc-2xl);

  color: var(--text-secondary);


  background-color: var(--indigo-2);
}

.accordion {
  height: auto;
}

.unchangedContent {
  padding: 0 0 var(--spc-2xl) 0;

}
