@import "../../../../styles/theme";

.group {
  margin-bottom: 0;
}

.unchanged {
  display: flex;
  gap: var(--spc-m);

  padding: var(--spc) var(--spc-2xl);

  color: $gray-400;

  background-color: rgba($blue-50, 0.5);
}

.accordion {
  height: auto;
}

.unchangedContent {
  padding: 0 0 var(--spc-2xl) 0;

}
