@import "../../../../styles/theme";

.container {
  display: grid;
  grid-template:
    "left right"
    "staged staged" / 1fr;
  row-gap: $p-xxl;
  column-gap: $p-xl;

  min-width: $min-w;
  max-width: $max-w;
  margin: 0 auto;

  .left {
    grid-area: left;
  }

  .right {
    grid-area: right;
    width: 250px;
  }

  .staged {
    display: flex;
    grid-area: staged;
    flex-direction: column;
    gap: $p-xl;

    padding-top: $p-xxl;
  }
}

.action {
  margin-top: $p-xl;
  text-align: right;
}
