@import "../../../../styles/theme";

.container {
  display: flex;
  flex-direction: column;
  gap: var(--spc-2xl);
  width: $main-col-w;

  .left {
    grid-area: left;
  }

  .right {
    grid-area: right;
    width: 250px;
  }

  .reviewBar {
    position: sticky;
    z-index: 1;
    top: 0;

    display: flex;
    grid-area: review;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    height: 50px;
    padding: var(--spc-l) var(--spc-xl);

    background-color: #fff;
    box-shadow: $box-shadow2;
  }

  .staged {
    display: flex;
    grid-area: staged;
    flex-direction: column;
    gap: var(--spc-xl);
  }
}

.title {
  width: 100%;
  margin: 0 0 0 -10px;

  input {
    padding-left: 10px !important;
  }
}
