.overlay {
  position: fixed;
  z-index: 999;
  inset: 0;

  background-color: hsl(0deg 0% 70.59% / 14.12%);
  backdrop-filter: blur(4px);
}

.content {
  position: fixed;
  z-index: 9999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: grid;

  width: 450px;

  background-color: #fff;
  border-radius: var(--radius2);
  box-shadow: var(--shadow2);

  &[data-state="closed"] {
    animation-name: exit;
    animation-duration: .15s;
  }

  &[data-state="open"] {
    animation-name: enter;
    animation-duration: .15s;
  }
}

.header {
  display: flex;
  flex-direction: column;
  gap: var(--spc);
  padding: var(--spc-xl) var(--spc-3xl);
}

.description {
  padding: 0 var(--spc-3xl) var(--spc-l);
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
}

.footer {
  display: flex;
  justify-content: flex-end;
  padding: var(--spc-2xl) var(--spc-3xl);
}


@keyframes enter {
  0% {
    opacity: 0;
  }
}

@keyframes exit {
  to {
    opacity: 0;
  }
}
