/* stylelint-disable selector-class-pattern */
.nodeCreated {
  border-radius: 6px;
  box-shadow: 0 0 2px 0 var(--modified1);
}

.nodeModified {
  border-radius: 6px;
  box-shadow: 0 0 2px 0 var(--amber-10);
}

.nodeDeleted {
  border-radius: 6px;
  box-shadow: 0 0 2px 0 var(--decline2);
}

.edgeCreated {
  :global {
    .react-flow__edge-path {
      stroke: var(--modified1);
      stroke-dasharray: 2;
      stroke-width: 2px;
    }
  }
}

.edgeModified {
  :global {
    .react-flow__edge-path {
      stroke: var(--amber-10);
      stroke-dasharray: 2;
      stroke-width: 2px;
    }
  }
}

.edgeDeleted {
  :global {
    .react-flow__edge-path {
      stroke: var(--decline2);
      stroke-dasharray: 2;
      stroke-width: 2px;
    }
  }
}

.unmodified {
  opacity: 0.5;
  filter: grayscale(10);
}
