@import "../../styles/theme";


.header {
  height: $height-header-project;
  padding: $p-3xl $p-2xl $p-xl $p-3xl;
  background-color: #fff;
  border-bottom: 1px solid $color-border;
}


.link {
  .badged {
    display: flex;
    gap: $p-m;
    align-items: center;
  }
}
