@import "../../styles/theme";



.editZone {
  display: flex;
  gap: $p;
  align-items: center;
  justify-content: end;
}


.link {
  .badged {
    display: flex;
    gap: $p-m;
    align-items: center;
  }
}

.menu {
  height: 35px;
  margin-top: 35px;
  background-color: transparent;
}
