/* stylelint-disable rule-empty-line-before */
/* stylelint-disable selector-class-pattern */
@import "../../../styles/theme";
@import "../../../styles/mixin";

.wrapper {
  @include ringWithin;

  display: flex;
  flex-grow: 1;

  font-size: var(--font);
  line-height: $line-height;
  color: var(--text);

  background-color: #fff;
  border: 1px solid var(--border2);
  border-radius: $border-radius-s;

  &.s {
    height: var(--h-s);
    font-size: $font-s;

    .input {
      padding: $p-s $p-l;
    }

    .before {
      padding: $p-s $p-l;

      &+.input {
        padding-left: $p-s;
      }
    }
  }

  &.m {
    height: var(--h-m);
    font-size: $font;

    .input {
      padding: $p $p-l;
    }

    .before {
      padding: $p $p $p $p-l;

      &+.input {
        padding-left: $p;
      }
    }
  }

  &.l {
    height: var(--h-l);
    font-size: $font;

    .input {
      padding: $p-m $p-xl;
    }

    .before {
      padding: $p $p $p $p-l;

      &+.input {
        padding-left: $p;
      }
    }
  }

  &.xl {
    height: var(--h-xl);
    font-size: $font-l;

    .input,
    .before {
      padding: $p-l $p-xl;
    }
  }

  &.disabled {
    cursor: not-allowed;
    color: var(--text3);
    background-color: var(--bg2);
    border-color: var(--border2);
  }

  &.readonly {
    color: var(--text4);
  }

  &.seamless {

    .before,
    .after {
      background-color: transparent;
    }
  }
}

.input {
  flex-grow: 1;
  outline: 0;

  &::placeholder {
    color: var(--text1)
  }
}

.before,
.after {
  display: flex;
  align-items: center;

  min-width: 30px;

  color: var(--text3);

  background-color: var(--bg2)
}
