/* stylelint-disable selector-class-pattern */

@import "../../../styles/mixin";

.wrapper {
  --input-height: var(--h-m);
  --input-font: var(--font);
  --input-padding: var(--spc) var(--spc-l);
  --input-lh: var(--lh);
  --input-before-padding: var(--spc) var(--spc) var(--spc) var(--spc-l);
  --input-after-padding: var(--spc) var(--spc-l) var(--spc) var(--spc);

  @include ringWithin;

  display: flex;
  flex-grow: 1;

  height: var(--input-height);

  font-size: var(--input-font);
  line-height: var(--input-lh);
  color: var(--text);

  background-color: #fff;
  border: 1px solid var(--border2);
  border-radius: var(--radius2);

  .input {
    width: 100%;
    padding: var(--input-padding);
  }

  .before {
    padding: var(--input-before-padding);

    &+.input {
      padding-left: var(--spc-s);
    }
  }

  .after {
    padding: var(--input-after-padding);
  }

  &.s {
    --input-font: var(--font-s);
    --input-height: var(--h-s);
    --input-before-padding: var(--spc) var(--spc) var(--spc) var(--spc-l);
    --input-after-padding: var(--spc) var(--spc-l) var(--spc) var(--spc);
  }

  &.m {
    --input-height: var(--h-m);
  }

  &.l {
    --input-font: var(--font);
    --input-height: var(--h-xl);
    --input-padding: var(--spc) var(--spc-xl);
    --input-before-padding: var(--spc) var(--spc) var(--spc) var(--spc-l);
    --input-after-padding: var(--spc) var(--spc-l) var(--spc) var(--spc);
  }

  &.xl {
    --input-font: var(--font-m);
    --input-height: var(--h-2xl);
    --input-before-padding: var(--spc-l) var(--spc-xl);
    --input-after-padding: var(--spc-l) var(--spc-xl);
  }

  &.disabled {
    cursor: not-allowed;
    color: var(--text3);
    background-color: var(--bg2);
    border-color: var(--border2);
  }

  &.readonly {
    color: var(--text4);
  }

  &.seamless {
    .before {
      padding-right: 0;
    }

    .after {
      padding-right: 0;
      padding-left: 0;
    }
  }
}

.input {
  flex-grow: 1;
  outline: 0;

  &::placeholder {
    color: var(--text1)
  }
}

.before,
.after {
  display: flex;
  flex-shrink: 0;
  align-items: center;

  min-width: 34px;

  color: var(--text3);
}
