.header {
  padding: var(--spc-6xl) var(--spc-6xl) var(--spc-3xl);
}

.main {
  padding: 0 var(--spc-6xl) var(--spc-6xl);
}

.banner {
  margin: 0 var(--spc-6xl) var(--spc-xl);
}

.blocs {
  display: flex;
}

.bloc {
  cursor: pointer;

  padding: var(--spc-l) var(--spc-3xl);

  border: 1px solid var(--border2);
  border-radius: var(--radius2);

  transition: border-color 0.25s ease-in-out;

  &:hover {
    border-color: var(--purple-8);
  }
}

.sidebar {
  padding: var(--spc-6xl);
}

.list {
  flex-direction: column;
  padding: var(--spc-l) 0;

  .prev {
    display: inline-flex;
    gap: var(--spc-l);
    align-items: center;
    padding: var(--spc-m) 0;

    &.current button {
      border-color: var(--primary);
    }
  }
}
