@import "./theme";

.ant-layout {
  background-color: transparent;

  ul li p {
    margin-bottom: 0;
  }

  .ant-alert-description {
    p:last-of-type {
      margin-block-end: 0;
    }
  }
}

// Global typo
h1.ant-typography {
  margin-bottom: $p-l;
  font-size: $font-xxl;
}

h2.ant-typography {
  margin-bottom: $p-m;
  font-size: $font-xl;
}

h3.ant-typography {
  margin-bottom: $p-s;
  font-size: $font-l;
}

h4.ant-typography {
  margin-bottom: $p-s;
  font-size: $font-m;
}

// ----- Menu Inline
.ant-menu.ant-menu-root.ant-menu-inline {
  background-color: transparent;
  border-inline-end: none;

  .ant-menu-item {
    height: 35px;
    margin: 0;
    margin-bottom: $p-xs;
    padding-left: $p-xl !important;

    color: $gray-8;

    &.ant-menu-item-selected {
      font-weight: bold;
      color: $gray-10;
      background-color: $gray-45;
    }

    &:hover {
      background-color: rgba($gray-4, 0.5);
    }

    a {
      &:hover {
        text-decoration: none;
      }
    }
  }
}

// User Content
.ant-typography {
  hr {
    margin: $p-3xl 10%;
    border: none;
    border-top: 1px solid $gray-300;
  }

  h1 {
    margin-bottom: $p-l;
    font-size: $font-xl;
  }

  h2 {
    margin-bottom: $p-m;
    font-size: $font-l;
  }

  h3 {
    margin-bottom: $p-s;
    font-size: $font-m;
  }

  h4 {
    margin-bottom: $p-s;
    font-size: $font;
  }

  code {
    font-family: "JetBrains Mono";
    border: none;

    &.inlineCode {
      color: #eb5757;
    }
  }

  table {
    overflow: hidden;
    table-layout: fixed;
    border-collapse: collapse;

    width: 100%;
    margin: 0;

    border-radius: $border-radius-s;

    td,
    th {
      position: relative;

      box-sizing: border-box;
      min-width: 1em;
      padding: $p $p-l;

      vertical-align: top;

      border: 1px solid $slate-200;

      >* {
        margin-bottom: 0;
      }
    }

    th {
      padding: $p-m $p-xl;

      font-weight: bold;
      color: $slate-800;
      text-align: left;

      background-color: $slate-100;
    }

    p {
      margin: 0;
    }
  }
}

// Tag
.ant-tag {
  padding: 0 $p-l;
  border: none;
  border-radius: 10px;

  .tabler-icon {
    margin-right: $p;
    font-size: 11px;
  }
}

// Button
.ant-btn {
  &:disabled {
    border: 1px solid transparent;
  }

  &>.tabler-icon+span {
    margin-inline-start: $p-m;
  }

  &.ant-btn-sm {
    font-size: $font-s;
  }
}

// Badge
.ant-badge {
  .ant-badge-count {
    box-shadow: none;
  }
}

// Input
.ant-form-vertical .ant-form-item-label {
  padding: 0 0 $p-s 0;
}

.ant-input {
  padding: $p-m $p-l;

  &.ant-input-sm {
    padding: $p-s;
    font-size: $font-s;
  }
}

.ant-input-group {
  .ant-input-group-addon {
    background-color: $gray-100;
    border-color: $gray-200;
  }

  .ant-input-affix-wrapper {
    border-color: $gray-200;

    .ant-input-prefix {
      margin-inline-end: $p-m;
    }

    .ant-input-suffix {
      align-self: center;
      height: 22px;
    }
  }
}

// Menu
.ant-menu {
  .ant-menu-item {
    padding-inline: $p-s;

    &::after {
      display: none;
    }

    a {
      display: flex;
      gap: $p-m;
      align-items: center;

      padding: $p-xs $p-l;

      font-size: $font;
      line-height: $line-height-m;

      border-radius: 4px;

      transition: background-color 0.25s ease-in-out;

      &:hover {
        text-decoration: none;
        background-color: rgba($gray-200, 50%) !important;
      }
    }

    &.ant-menu-item-selected {
      a {
        background-color: rgba($gray-200, 50%) !important;
      }
    }

    .ant-badge-count,
    a:hover .ant-badge-count {
      color: $gray-500;
      background-color: $gray-200;
    }
  }

  &.ant-menu-horizontal {
    border: none;
  }


  &.ant-menu-light {
    background-color: transparent;

    &.ant-menu-vertical {
      border-inline-end: none;

      .ant-menu-item {
        &:not(.ant-menu-item-selected) {
          &:hover {
            background-color: #fff;
          }
        }
      }
    }
  }
}


// Tree
.ant-tree {
  padding-left: $p-m;

  .ant-tree-switcher {
    display: none;
  }

  span.ant-tree-switcher-noop {
    display: none;
  }

  .ant-tree-treenode {
    .ant-tree-indent-unit {
      width: 16px;
    }

    &.ant-tree-treenode-switcher-open,
    &.ant-tree-treenode-switcher-close {
      padding: 0 $p $p-s $p;
    }

    &:hover::before,
    &.ant-tree-treenode-selected::before {
      margin: 0 $p;
      background-color: $gray-100 !important;
      border-radius: $border-radius;
    }

    &.ant-tree-treenode-selected {
      .ant-tree-node-content-wrapper.ant-tree-node-selected {
        color: $primary;
      }

    }
  }

  .ant-tree-node-content-wrapper {
    overflow: hidden;
    padding: $p-s;
    text-overflow: ellipsis;
    white-space: pre;
  }
}


// Table
.ant-table {
  thead {
    th {
      background: #fff !important;

      >div {
        display: flex;
        gap: $p-m;
        padding: $p;
        font-weight: 400;
      }
    }
  }

  tbody {
    td {
      padding: $p-l $p-2xl !important;
    }

    tr:last-of-type {
      td {
        border-bottom: none !important;
      }
    }
  }
}
