/* stylelint-disable selector-class-pattern */


table.diff {
  --diff-background-color: initial;
  --diff-text-color: initial;
  --diff-font-family: var(--font-code);
  --diff-selection-background-color: #b3d7ff;
  --diff-selection-text-color: var(--diff-text-color);
  --diff-gutter-selected-background-color: #fffce0;
  --diff-gutter-selected-text-color: var(--diff-text-color);
  --diff-gutter-insert-background-color: var(--added3);
  --diff-gutter-insert-text-color: var(--diff-text-color);
  --diff-code-insert-background-color: var(--added1);
  --diff-code-insert-text-color: var(--diff-text-color);
  --diff-code-insert-edit-background-color: var(--added3);
  --diff-code-insert-edit-text-color: var(--diff-text-color);
  --diff-gutter-delete-background-color: var(--removed3);
  --diff-gutter-delete-text-color: var(--diff-text-color);
  --diff-code-delete-background-color: var(--removed1);
  --diff-code-delete-text-color: var(--diff-text-color);
  --diff-code-delete-edit-background-color: var(--removed3);
  --diff-code-delete-edit-text-color: var(--diff-text-color);
  --diff-code-selected-background-color: #fffce0;
  --diff-code-selected-text-color: var(--diff-text-color);
  --diff-omit-gutter-line-color: #cb2a1d;

  font-family: var(--font-code);
  font-size: var(--font);

  .diff-gutter-col {
    width: 5ch;
    background-color: var(--bg2);
  }

  tr {
    td {
      min-width: initial;
      padding: 0;
      border: none;

      &.diff-gutter {
        padding: 0 var(--spc-m);
        padding-top: 4px;
        font-size: var(--font-s);
        color: var(--text)
      }

      &.diff-code {
        padding: 2px var(--spc-l);
      }
    }
  }
}
