@import "./theme";
@import '@radix-ui/colors/amber.css';
@import '@radix-ui/colors/grass.css';
@import '@radix-ui/colors/indigo.css';
@import '@radix-ui/colors/lime.css';
@import '@radix-ui/colors/mauve.css';
@import '@radix-ui/colors/mauveDark.css';
@import '@radix-ui/colors/plum.css';
@import '@radix-ui/colors/tomato.css';

button,
a,
input {
  all: unset;
}


.tabler-icon {
  width: 1.2em;
  height: 1.2em;

  font-style: normal;
  line-height: 0;
  color: inherit;
  text-align: center;
  text-transform: none;
  text-rendering: optimizelegibility;
  vertical-align: -0.225em;

  stroke-width: 1.5;

  -webkit-font-smoothing: antialiased;
}


:root {
  // TEXT
  --text1: var(--mauve8);
  --text2: var(--mauve9);
  --text3: var(--mauve11);
  --text: var(--mauve12);

  // Link
  --colorLink: var(--indigo9);

  // BG
  --bg1: var(--mauve1);
  --bg2: var(--mauve2);
  --bg3: var(--mauve3);
  --bg5: var(--mauve5);
  --bg10: #242d3c;

  // OTHER
  --border1: var(--mauve2);
  --border2: var(--mauve4);
  --border3: var(--mauve7);
  --accent1: var(--indigo4);
  --accent2: var(--indigo9);

  // colors
  --accept: hsl(151.88deg 100% 93.73%);
  --acceptDark: hsl(152.14deg 30.11% 36.47%);
  --decline: hsl(5.45deg 100% 95.69%);
  --declineDark: hsl(359.52deg 100% 75.29%);
  --merge: var(--plum5);
  --mergeDark: var(--plum9);
  --modified: hsl(136deg 38% 75%);
  --modifiedDark: var(--grass9);
}


// ----- Layout
body {
  // font-family: system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, BlinkMacSystemFont, Oxygen, "Open Sans", "Helvetica Neue";
  font: $font $font-text;
  color: var(--text);
  background-color: $gray-2;

  -webkit-font-smoothing: antialiased;
}

button {
  cursor: pointer;
}

a {
  cursor: pointer;

  &:hover {
    color: var(--colorLink);
  }
}
