@import '@radix-ui/colors/amber.css';
@import '@radix-ui/colors/blue.css';
@import '@radix-ui/colors/bronze.css';
@import '@radix-ui/colors/brown.css';
@import '@radix-ui/colors/crimson.css';
@import '@radix-ui/colors/cyan.css';
@import '@radix-ui/colors/gold.css';
@import '@radix-ui/colors/grass.css';
@import '@radix-ui/colors/green.css';
@import '@radix-ui/colors/indigo.css';
@import '@radix-ui/colors/lime.css';
@import '@radix-ui/colors/mauve.css';
@import '@radix-ui/colors/mauve-dark.css';
@import '@radix-ui/colors/mint.css';
@import '@radix-ui/colors/olive.css';
@import '@radix-ui/colors/orange.css';
@import '@radix-ui/colors/pink.css';
@import '@radix-ui/colors/plum.css';
@import '@radix-ui/colors/purple.css';
@import '@radix-ui/colors/red.css';
@import '@radix-ui/colors/sage.css';
@import '@radix-ui/colors/sand.css';
@import '@radix-ui/colors/sky.css';
@import '@radix-ui/colors/slate.css';
@import '@radix-ui/colors/teal.css';
@import '@radix-ui/colors/tomato.css';
@import '@radix-ui/colors/violet.css';
@import '@radix-ui/colors/yellow.css';

button,
a,
input,
textarea,
p,
ol,
ul,
li,
blockquote {
  all: unset;
}

body * {
  box-sizing: border-box;
}

.tabler-icon {
  width: 1.2em;
  height: 1.2em;

  font-style: normal;
  line-height: 0;
  color: inherit;
  text-align: center;
  text-transform: none;
  text-rendering: optimizelegibility;
  vertical-align: -0.225em;

  stroke-width: 1.5;

  -webkit-font-smoothing: antialiased;
}


:root {
  // Font family
  --font-base: system-ui, -apple-system, "Segoe UI", roboto, ubuntu, cantarell, "Noto Sans", sans-serif, blinkmacsystemfont, oxygen, "Open Sans", "Helvetica Neue";
  --font-code: "JetBrains Mono", var(--font-base);
  --font-text: "Inter", var(--font-base);

  // Text
  --text1: var(--mauve-8);
  --text2: var(--mauve-9);
  --text3: var(--mauve-11);
  --text4: hsl(255deg 4% 44%);
  --text: var(--mauve-12);
  --text-secondary: #687181;

  // Font
  --font-xs: 10px;
  --font-s: 12px;
  --font: 14px;
  --font-m: 16px;
  --font-l: 20px;
  --font-xl: 24px;
  --font-2xl: 28px;
  --font-3xl: 32px;

  // Line Height
  --lh-s: 16px;
  --lh: 20px;
  --lh-m: 24px;
  --lh-l: 28px;
  --lh-xl: 32px;
  --lh-2xl: 36px;
  --lh-3xl: 40px;

  // Width
  --w-col: 780px;
  --w-min: 1024px;
  --w-max: 1216px;

  // Height
  --h-s: 30px;
  --h-m: 34px;
  --h-l: 38px;
  --h-xl: 42px;

  // Link
  --colorLink: var(--indigo-9);

  // BG
  --bg1: var(--mauve-1);
  --bg2: #F9FAF9;
  --bg3: var(--mauve-3);
  --bg5: var(--mauve-5);
  --bg10: hsl(217.5deg 25% 18.82%);

  // Border
  --border1: var(--mauve-2);
  --border2: var(--mauve-4);
  --border3: var(--mauve-7);
  --border4: var(--mauve-9);

  // Radius
  --radius1: 2px;
  --radius2: 4px;
  --radius3: 8px;

  // Padding
  --spc-xs: 2px;
  --spc-s: 4px;
  --spc: 6px;
  --spc-m: 8px;
  --spc-l: 12px;
  --spc-xl: 16px;
  --spc-2xl: 20px;
  --spc-3xl: 24px;
  --spc-4xl: 28px;
  --spc-5xl: 32px;
  --spc-6xl: 38px;
  --spc-7xl: 48px;
  --spc-8xl: 58px;

  // OTHER
  --accent1: var(--indigo-4);
  --accent2: var(--indigo-9);
  --primary: hsl(217.5deg 25% 18.82%);
  --primaryHover: #303a48;
  --primaryText: #fff;

  // colors
  --accept1: hsl(151.88deg 100% 93.73%);
  --accept2: hsl(152.14deg 30.11% 36.47%);
  --decline1: hsl(5.45deg 100% 95.69%);
  --decline2: hsl(359.52deg 100% 75.29%);
  --decline3: hsl(0deg 56% 52%);
  --merge1: var(--plum-5);
  --merge2: var(--plum-9);
  --modified1: hsl(136deg 38% 75%);
  --modified2: var(--grass-9);
  --service: #818cf8;

  // Color diff
  // Diff
  // $color-added: rgba($lime-50, 0.5);
  // $color-added-hi: $lime-200;
  // $color-removed: rgba($red-50, 0.5);
  // $color-removed-hi: $red-200;
  // github diff
  // $color-added: #e6ffec;
  // $color-added-hi: #abf2bc;
  // $color-removed: #ffebe9;
  // $color-removed-hi: rgb(255 129 130 / 40%);
  // github diff modified
  --added1: rgba(#e6ffec, 0.9);
  --added2: rgba(#e6ffec, 0.15);
  --added3: #abf2bc;
  --removed1: rgba(#ffebe9, 0.9);
  --removed2: rgba(#ffebe9, 0.25);
  --removed3: rgb(255 129 130 / 40%);

  // Shadow
  --shadow1: 1px 1px 2px var(--bg1);
  --shadow2: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px -1px rgb(0 0 0 / 10%);
  --shadow3: 0 1px 10px 0 rgb(0 0 0 / 10%), 0 1px 2px -1px rgb(0 0 0 / 10%);

  // Transition
  --anim-smooth: cubic-bezier(0.2, 0, 0, 1);
}


// ----- Layout
body {
  margin: 0;

  font-family: var(--font-text);
  font-size: var(--font);
  line-height: 20px;
  color: var(--text);

  background-color: var(--bg2);

  -webkit-font-smoothing: antialiased;
}

button {
  cursor: pointer;
}

a {
  // Buggy with Dropdown
  // @include ring;

  cursor: pointer;

  &:hover {
    color: var(--colorLink);
  }
}


// Global typo
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
}

h1 {
  font-size: var(--font-2xl);
  line-height: var(--lh-3xl);
}

h2 {
  font-size: var(--font-xl);
  line-height: var(--lh-2xl);
}

h3 {
  font-size: var(--font-l);
  line-height: var(--lh-xl);
}

h4 {
  font-size: var(--font-m);
  line-height: var(--lh-l);
}

p {
  display: block;
  line-height: var(--lh-m);
}

li {
  display: block;
}
