@import "./theme";
@import '@radix-ui/colors/mauve.css';
@import '@radix-ui/colors/indigo.css';
@import '@radix-ui/colors/mauveDark.css';

button,
a {
  all: unset;
}



.tabler-icon {
  width: 1.2em;
  height: 1.2em;

  font-style: normal;
  line-height: 1;
  line-height: 0;
  color: inherit;
  text-align: center;
  text-transform: none;
  text-rendering: optimizelegibility;
  vertical-align: -0.225em;

  stroke-width: 1.5;

  -webkit-font-smoothing: antialiased;
}


:root {
  // TEXT
  --text: var(--mauve12);
  --textLight: var(--mauve11);
  --textDisabled: var(--mauve9);

  // Link
  --colorLink: var(--indigo9);

  // BG
  --bgLighter: var(--mauve1);
  --bgLight: var(--mauve2);
  --bgHover: var(--mauve3);
  --bgDark: var(--mauve5);

  // OTHER
  --borderLight: var(--mauve3);
  --border: var(--mauve7);
  --accent: var(--indigo9);
}


// ----- Layout
body {
  // font-family: system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, BlinkMacSystemFont, Oxygen, "Open Sans", "Helvetica Neue";
  font: $font $font-text;
  color: var(--text);
  background-color: $gray-2;
}

button {
  cursor: pointer;
}

a {
  cursor: pointer;

  &:hover {
    color: var(--colorLink);
  }
}
