@import "./theme";

.tabler-icon {
  width: 1.2em;
  height: 1.2em;

  font-style: normal;
  line-height: 1;
  line-height: 0;
  color: inherit;
  text-align: center;
  text-transform: none;
  text-rendering: optimizelegibility;
  vertical-align: -0.225em;

  -webkit-font-smoothing: antialiased;
}


// ----- Layout
body {
  // font-family: system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, BlinkMacSystemFont, Oxygen, "Open Sans", "Helvetica Neue";
  font-family: "Source Sans Pro", system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif, BlinkMacSystemFont, Oxygen, "Open Sans", "Helvetica Neue";
  background-color: $gray-2;
}

a {
  &:hover {
    color: $blue-700;
  }
}
