@import "./theme";


@mixin ring() {
  transition: box-shadow .15s;

  &:focus-visible:not([disabled]) {
    box-shadow: #fff 0 0 0 2px, hsl(217.5deg 25% 10.82% / 70%) 0 0 0 4px;
  }
}

@mixin ringWithin() {
  transition: box-shadow .15s;

  &:focus-within:not([disabled]) {
    box-shadow: #fff 0 0 0 2px, hsl(217.5deg 25% 10.82% / 70%) 0 0 0 4px;
  }
}

@mixin focusable() {
  &:hover {
    outline: 1px solid $blue-100;
  }

  &:focus {
    outline: 1px solid $blue-400;
    box-shadow: rgb(0 0 0 / 9%) 0 1px 4px;
  }
}

@mixin editable($padding: var(--spc) var(--spc-m), $margin: (-var(--spc)) (-var(--spc-m))) {
  @include focusable;

  cursor: text;

  margin: $margin;
  padding: $padding !important;

  border: none;
  border-radius: $border-radius-s;
  outline: 1px solid transparent;

  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;

}

@mixin link() {
  cursor: pointer;

  display: inline-flex;
  gap: var(--spc-s);
  align-items: center;

  color: $gray-700;

  border-radius: 10px;

  &:hover {
    color: $blue-700;
  }
}

@mixin button() {
  cursor: pointer;

  display: flex;
  gap: var(--spc-s);
  align-items: center;

  padding: var(--spc) var(--spc-l);

  color: $gray-700;

  border-radius: 10px;

  &:hover {
    color: $blue-700;
    background: $color-hover;
  }
}
