@mixin ring() {
  transition: box-shadow .15s;

  &:focus-visible:not([disabled]) {
    box-shadow: #fff 0 0 0 2px, hsl(217.5deg 25% 10.82% / 70%) 0 0 0 4px;
  }
}

@mixin ringWithin() {
  transition: box-shadow .15s;

  &:focus-within:not([disabled]) {
    box-shadow: #fff 0 0 0 2px, hsl(217.5deg 25% 10.82% / 70%) 0 0 0 4px;
  }
}

@mixin focusable() {
  &:hover {
    outline: 1px solid var(--indigo-8);
  }

  &:focus {
    outline: 1px solid var(--indigo-8);
    box-shadow: rgb(0 0 0 / 9%) 0 1px 4px;
  }
}

@mixin editable() {
  @include focusable;

  cursor: text;

  border: none;
  border-radius: var(--radius2);
  outline: 1px solid transparent;

  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;


  &:focus-within {
    outline: 1px solid var(--indigo-8);
    box-shadow: rgb(0 0 0 / 9%) 0 1px 4px;
  }

}
