@import "./theme";

@mixin editable($padding: $p $p-m) {
  margin: (-$p) (-$p-m);
  padding: $padding !important;

  border: none;
  border-radius: $border-radius-s;
  outline: 1px solid transparent;

  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  cursor: text;

  &:hover {
    outline: 1px solid $blue-100;
  }

  &:focus {
    outline: 1px solid $blue-400;
    box-shadow: rgb(0 0 0 / 9%) 0 1px 4px;
  }
}

@mixin link() {
  cursor: pointer;

  display: inline-flex;
  gap: $p-s;
  align-items: center;

  color: $gray-700;

  border-radius: 10px;

  &:hover {
    color: $blue-700;
  }
}

@mixin button() {
  cursor: pointer;

  display: inline-flex;
  gap: $p-s;
  align-items: center;

  color: $gray-700;

  border-radius: 10px;

  &:hover {
    color: $blue-700;
    background: $gray-100;
  }
}
