@import "./theme";
@import "./radix/popover";



// ---- TABS
.rx_tabsRoot {
  display: flex;
  flex-direction: column;
}

.rx_tabsList {
  display: flex;
  flex-shrink: 0;
  margin-bottom: var(--spc-l);
  border-bottom: 1px solid var(--border2);
}

.rx_tabsTrigger {
  cursor: pointer;
  user-select: none;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 45px;
  margin-bottom: -1px;
  padding: 0 20px;

  font-family: inherit;
  font-size: 15px;
  line-height: 1;
  color: var(--text2);

  background-color: transparent;
  border: none;
  border-bottom: 1px solid transparent;
  border-radius: 0;

  &:hover {
    color: var(--text);
  }

  &:focus {
    position: relative;
  }

  &[data-state='active'] {
    color: var(--text);
    border-bottom: 2px solid var(--accent2);
  }
}

.rx_tabsContent {
  flex-grow: 1;
  outline: none;
}
