@import "./colors";

// Colors
$gray-2: #fafafa;
$gray-3: #f7f7f7;
$gray-4: #f0f0f0;
$gray-44: #eff2f5;
$gray-45: #ecedf0;
$gray-5: #d9d9d9;
$gray-6: #bfbfbf;
$gray-7: #8c8c8c;
$gray-8: #595959;
$gray-9: #434343;
$gray-10: #262626;
$gray-11: #1f1f1f;
$gray-12: #141414;

// Colors
$color-1: #e6f7ff;
$color-2: #bae7ff;
$color-3: #91d5ff;
$color-4: #69c0ff;
$color-5: #40a9ff;
$color-6: #1890ff;
$color-7: #096dd9;
$color-8: #0050b3;
$color-9: #003a8c;
$color-10: #002766;
$primary: $indigo-600;

// Font size
$font-xs: 10px;
$font-s: 12px;
$font: 14px;
$font-m: 16px;
$font-l: 20px;
$font-xl: 24px;
$font-xxl: 28px;
$font-normal: 400;
$font-semi: 600;
$font-bold: 900;

// Line height
$line-height-s: 16px;
$line-height: 20px;
$line-height-m: 24px;

// Font Family
$font-default: system-ui, -apple-system, "Segoe UI", roboto, ubuntu, cantarell, "Noto Sans", sans-serif, blinkmacsystemfont, oxygen, "Open Sans", "Helvetica Neue";
$font-code: "JetBrains Mono", $font-default;
$font-graph: "Assistance", $font-default;
$font-text: "Source Sans Pro", $font-default;

// Radius
$border-radius-s: 4px;
$border-radius: 8px;

// Padding/Margin
$p-xs: 2px;
$p-s: 4px;
$p: 6px;
$p-m: 8px;
$p-l: 12px;
$p-xl: 16px;
$p-2xl: 20px;
$p-3xl: 24px;
$p-4xl: 28px;
$p-5xl: 32px;

// Box Shadow
$box-shadow: 1px 1px 2px $gray-4;
$box-shadow2: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px -1px rgb(0 0 0 / 10%);
$box-shadow3: 0 1px 10px 0 rgb(0 0 0 / 10%), 0 1px 2px -1px rgb(0 0 0 / 10%);
$box-shadow-editable: -2px 0 0 0 $blue-50;

// Main column
$main-col-w: 750px;
$min-w: 1024px;
$max-w: 1216px;

// Height
$height-header: 53px;
$height-header-org: 180px;
$height-header-org-total: $height-header + $height-header-org;
$height-header-project: 120px;
$height-header-project-total: $height-header + $height-header-project;
