@import "./colors";

// Colors
$gray-2: #fafafa;
$gray-3: #f7f7f7;
$gray-4: #f0f0f0;
$gray-44: #eff2f5;
$gray-45: #ecedf0;
$gray-5: #d9d9d9;
$gray-6: #bfbfbf;
$gray-7: #8c8c8c;
$gray-8: #595959;
$gray-9: #434343;
$gray-10: #262626;
$gray-11: #1f1f1f;
$gray-12: #141414;
