@use "sass:math";

@import "../../../styles/theme";

$width: math.div($main-col-w, 1.4);

.form {
  display: flex;
  flex-direction: column;
  gap: $p-m;
  justify-content: center;

  width: $width;
  height: calc(100vh - $height-header-org-total - ($p-2xl * 2));
  min-height: 200px;
  margin: 0 auto;
}


.wrap {
  width: 100%;
}

.title {
  margin-top: $p-2xl;
  display: flex;
  gap: $p-m;
}

.input {
  padding: $p-l;
  font-size: $font-l;
}


.button {
  width: 48px !important;
  height: 48px;
}
