@use "sass:math";

@import "../../../styles/theme";


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  padding: $p-4xl;
}

.form {
  display: flex;
  flex-direction: column;
  gap: $p-m;
  justify-content: center;

  width: 600px;
  margin: 0 auto;
}


.wrap {
  width: 100%;
}

.title {
  display: flex;
  gap: $p-m;
  margin-top: $p-2xl;
}

.input {
  padding: $p-l;
  font-size: $font-l;
}


.button {
  width: 48px !important;
  height: 48px;
}
