@import "../../../styles/theme";

.node {
  position: relative;

  display: flex;
  align-items: center;

  width: 100%;
  height: 100%;
  padding: 0 $p;

  font-size: 11px;
  font-weight: 400;

  border: 1px solid $gray-100;
  border-radius: $border-radius;
  box-shadow: 0 2px 5px 1px rgb(0 0 0 / 6%);

  transition: box-shadow 0.2s ease-in;

  &:hover {
    box-shadow: 0 0 0 4px $purple-50;

    .handle {
      opacity: 1;
    }
  }

  &.hosting {
    align-items: flex-start;

    background-color: rgba($indigo-50, 0.2);

    // background-color: transparent;
    border-color: $indigo-100;
    border-width: 1px;
    border-radius: $border-radius-s;
    box-shadow: none;

    .title {
      gap: $p-s;
      margin: -$p-xl - $p-s 0 0 -4px;
      font-weight: 600;
      color: $gray-400;
    }
  }

  &.component,
  &.thirdparty,
  &.project {
    background-color: #fff;
  }

  .title {
    display: flex;
    gap: $p-m;
    align-items: center;

    // https://css-tricks.com/flexbox-truncated-text/
    min-width: 0;
  }

  .label {
    // https://css-tricks.com/flexbox-truncated-text/
    overflow: hidden;
    display: inline-block;

    font-size: $font-s - 1px;
    line-height: $line-height-s;
    color: var(--text);
    text-overflow: ellipsis;
    white-space: pre-wrap;
  }


  // Resizer
  .resizerLine {
    border-color: $indigo-400;
  }

  // Handlers
  .handle {
    width: 5px;
    height: 5px;

    opacity: 0;
    background-color: #fff;
    border: 1px solid var(--border2);

    transition: opacity 0.25s;

    &.source {
      &.top {
        left: calc(50% - 7px);
      }

      &.right {
        top: calc(50% - 7px);
      }

      &.bottom {
        left: calc(50% - 7px);
      }

      &.left {
        top: calc(50% - 7px);
      }
    }

    &.target {
      &.top {
        left: calc(50% + 7px);
      }

      &.right {
        top: calc(50% + 7px);
      }

      &.bottom {
        left: calc(50% + 7px);
      }

      &.left {
        top: calc(50% + 7px);
      }
    }
  }

  &.preview {
    width: 150px;
    height: 48px;
    margin-top: 10px;
    padding: 0 $p-xl;

    .label {
      font-size: $font;
    }
  }
}


.pos {
  position: absolute;
  top: -20px;
  left: 0;

  width: 140px;

  font-size: $font-xs;
  color: var(--text1);
  text-align: center;
}

.size {
  position: absolute;
  bottom: 0;
  left: -12px;

  font-size: $font-xs;
  color: var(--text1);


  .sizeHeight {
    position: absolute;
    top: -28px;
    right: 5px;

    &::before {
      content: " ";

      position: absolute;
      top: -15px;
      right: -7px;

      display: block;

      width: 1px;
      height: 42px;

      background-color: var(--bg5);
    }
  }

  .sizeWidth {
    position: absolute;
    top: 10px;
    left: 65px;

    &::before {
      content: " ";

      position: absolute;
      top: 0;
      left: -50px;

      display: block;

      width: 140px;
      height: 1px;

      background-color: var(--bg5);
    }
  }
}
