@import "../../../styles/theme";
@import "../../../styles/mixin";

.node {
  position: relative;

  display: flex;
  align-items: center;

  width: 100%;
  height: 100%;
  padding: 0 10px 0 14px;

  font-size: 11px;
  font-weight: 400;

  background-color: #fff;
  border: 1px solid $gray-100;
  border-radius: $border-radius;
  box-shadow: 0 2px 5px 1px rgb(0 0 0 / 6%);

  transition: box-shadow 0.2s ease-in;

  &:hover,
  &.selected {
    box-shadow: 0 0 0 4px $purple-50;

    .handle {
      pointer-events: initial;
      opacity: 1;
    }
  }

  &.hosting {
    align-items: flex-start;

    background-color: rgba($indigo-50, 0.2);

    // background-color: transparent;
    border-color: $indigo-100;
    border-width: 1px;
    border-radius: $border-radius-s;
    box-shadow: none;

    .title {
      gap: $p-s;
      margin: -$p-2xl - $p-s 0 0 -4px;
      font-weight: 600;
      color: $gray-400;
    }
  }

  .title {
    display: flex;
    gap: 2px;
    align-items: center;

    // https://css-tricks.com/flexbox-truncated-text/
    min-width: 0;
  }

  .editable {
    @include focusable;
  }

  .label {
    // https://css-tricks.com/flexbox-truncated-text/
    overflow: hidden;
    display: inline-block;

    padding: $p;

    font-size: $font-s - 1px;
    line-height: $line-height-s;
    color: var(--text);
    text-overflow: ellipsis;
    white-space: pre;

    border: none;

    &[contenteditable="true"] {
      display: inline;
      text-overflow: initial;
      white-space: nowrap;
    }
  }


  // Resizer
  .resizerLine {
    border-color: $indigo-400;
  }

  .top,
  .right,
  .bottom,
  .left {
    pointer-events: none;

    position: absolute;

    display: flex;
    gap: 3px;
    align-items: center;
    justify-content: center;
  }

  .top {
    top: 0;
    left: 0;
    transform: translate(0, -25%);
    width: 100%;
  }

  .right {
    right: 0;
    transform: translate(25%, 0);
    flex-direction: column;
  }

  .bottom {
    bottom: 0;
    left: 0;
    transform: translate(0, 25%);
    width: 100%;
  }

  .left {
    left: 0;
    transform: translate(-25%, 0);
    flex-direction: column;
  }

  // Handlers
  .handle {
    pointer-events: none;

    position: relative;

    width: 8px;
    min-width: 0;
    height: 8px;
    min-height: 0;

    opacity: 0;
    background-color: transparent;
    border: none;
    border-color: var(--mauve6);
    border-radius: 10px;

    transition: opacity 0.25s;

    &.show {
      opacity: 1 !important;
    }

    &.top {
      border-bottom-style: solid;
    }

    &.right {
      border-left-style: solid;
    }

    &.bottom {
      border-top-style: solid;
    }

    &.left {
      border-right-style: solid;
    }

    &.source {
      border-width: 4px;
    }

    &.target {
      border-width: 2px;
      border-radius: 0;
    }
  }

  &.preview {
    width: 180px;
    height: 48px;
    margin-top: 10px;
    padding: 0 $p-xl;

    .label {
      font-size: $font;
    }
  }

  &.isConnecting {
    .source {
      pointer-events: none;
      opacity: 0;
    }
  }

  &.disableHandle {

    .source,
    .target {
      pointer-events: none !important;
      opacity: 0 !important;
    }
  }
}

.pos {
  position: absolute;
  top: -20px;
  left: 0;

  width: 170px;

  font-size: $font-xs;
  color: var(--text1);
  text-align: center;
}

.size {
  position: absolute;
  bottom: 0;
  left: -12px;

  font-size: $font-xs;
  color: var(--text1);


  .sizeHeight {
    position: absolute;
    top: -28px;
    right: 5px;

    &::before {
      content: " ";

      position: absolute;
      top: -15px;
      right: -7px;

      display: block;

      width: 1px;
      height: 42px;

      background-color: var(--bg5);
    }
  }

  .sizeWidth {
    position: absolute;
    top: 10px;
    left: 85px;

    &::before {
      content: " ";

      position: absolute;
      top: 0;
      left: -70px;

      display: block;

      width: 170px;
      height: 1px;

      background-color: var(--bg5);
    }
  }
}
