@tailwind base;
@tailwind components;
@tailwind utilities;


.codeHighlight {
  pre {
    padding: 16px 24px !important;
    font-size: 13px !important;
    border-radius: 6px;

    .linenumber {
      margin-right: 1em !important;
    }
  }
}

blockquote {
  p {
    margin-bottom: 0 !important;
  }
}
