@import "../../../theme";

$width: 180px;

.container {
  z-index: 2;

  width: $width;
  min-width: $width;

  background-color: #fff;
  border: 1px solid $gray-3;
  border-radius: $border-radius;
  box-shadow: 0 3px 15px -3px rgb(13 20 33 / 13%);

  position: absolute;
  top: 20px;
  overflow: scroll;
  max-height: 185px;
}

.menu {
  display: flex;
  flex-direction: column;
  transition: transform 0.25s ease-in-out;
  width: $width;
  padding: $p;

  &.hide {
    transform: translate3d(-180px, 0, 0);
  }

  &.show {
    transform: translate3d(0, 0, 0);
  }
}

.item {
  cursor: pointer;

  display: grid;
  grid-template-columns: 30px auto 20px;
  gap: $p-l;
  align-items: center;

  padding: $p-xs $p-xs;

  font-size: $font;
  font-weight: 600;

  border-radius: $border-radius;

  &:hover {
    background-color: $gray-44;
  }
}

.icon {
  width: 30px;
  padding: $p;

  background-color: #fff;
  border: 1px solid $gray-44;
  border-radius: $border-radius;

  font-size: $font-m;
  line-height: 0;
}

.right {
  line-height: 0;
}

.subHeading {
  position: absolute;
  top: 0;
  transform: translate3d(180px, 0, 0);
}
