@import "../../../../styles/theme";

.github {
  width: 600px;
  padding: $p-5xl;
  background-color: #fff;
  border-top: 1px solid $color-border;
}

.header {
  display: flex;
  gap: 8px;
  align-items: center;
}

.main {
  margin: $p-2xl 0 0 0;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  // margin-top: -1px;
  padding: $p-xl;

  background-color: #fff;
  border-bottom: 1px solid $color-border;

  &:first-child {
    border-radius: $border-radius-s $border-radius-s 0 0;
  }

  &:last-child {
    border-radius: 0 0 $border-radius-s $border-radius-s;
  }
}
