@import "../../styles/theme";

.badge {
  display: inline-flex;

  min-width: 20px;
  padding: 0 $p-m;

  font-size: $font-s;
  font-weight: 500;
  line-height: $line-height;
  color: var(--textLight);
  text-align: center;

  background-color: var(--bg1);
  border: 1px solid var(--border2);
  border-radius: 10px;
}
