@import "../../styles/theme";

ul.taskList {
  list-style: none;

  li {
    margin-left: 0;
  }

  ul {
    margin-bottom: 0;
    list-style: none;
  }
}

.image {
  position: relative;

  img {
    // width: 100%;
    // object-fit: contain;
    // image-orientation: none;
    max-width: 100%;
  }
}



.codeDiff {
  margin-bottom: $p-l;
  border: 1px solid $gray-50;
}

.code {
  display: flex !important;

  margin-bottom: $p-l;
  padding: $p-xl $p-2xl !important;

  background-color: $gray-50 !important;
  border: none !important;

  code,
  code span {
    font-family: $font-code !important;
    font-size: $font !important;
    font-weight: inherit;
    font-style: inherit;
    font-variant-ligatures: inherit;
    line-height: inherit;
    text-shadow: none !important;
    text-rendering: inherit;
    letter-spacing: inherit;

    -webkit-font-smoothing: antialiased;
  }
}


.vote {
  display: flex;
  flex-direction: column;
  gap: $p-xl;
  margin-bottom: $p-3xl;
}

.added {
  padding: 0 $p-2xl;
  background-color: $color-added;
  border-left: 10px solid $color-added-hi;
}

.removed {
  padding: 0 $p-2xl;

  text-decoration: line-through;

  opacity: 0.7;
  background-color: $color-removed;
  border-left: 10px solid $color-removed-hi;
}

.placeholder {
  color: var(--text1);
}
