.content {
  font-size: var(--font);

  .mb {
    margin-bottom: var(--spc-l);
  }

  hr {
    margin: var(--spc-7xl) 10%;
    border: none;
    border-top: 1px solid var(--border2);
  }

  a {
    font-weight: 600;
    color: var(--primary);
    text-decoration: none;
    border-bottom: 1px solid var(--accent1);

    &:hover {
      color: var(--primary);
      border-color: var(--accent2);
    }
  }


  // --- HEADINGS
  h1,
  h2,
  h3,
  h4 {
    font-weight: 600;
  }

  h1 {
    margin-bottom: var(--spc-l);
    padding-top: var(--spc-8xl);

    +h2 {
      margin-top: 0;
    }
  }

  h2 {
    margin-bottom: var(--spc-l);
    padding-top: var(--spc-8xl);

    +h3 {
      margin-top: 0;
    }
  }

  h3 {
    margin-bottom: var(--spc-l);
    padding-top: var(--spc-7xl);

    +h4 {
      margin-top: 0;
    }
  }

  h4 {
    margin-bottom: var(--spc-l);
    padding-top: var(--spc-7xl);
  }

  &>:first-child {
    padding-top: 0;
  }


  p {
    min-height: 22px;
    margin-bottom: var(--spc-l);
    font-size: var(--font);
    line-height: var(--lh-m);
  }

  strong {
    font-weight: 600;
  }


  // --- Table
  table {
    overflow: hidden;
    table-layout: fixed;
    border-collapse: collapse;

    width: 100%;
    margin: 0;

    border-radius: var(--radius2);

    td,
    th {
      position: relative;

      box-sizing: border-box;
      min-width: 1em;
      padding: var(--spc) var(--spc-l);

      text-align: left;
      vertical-align: top;

      border: 1px solid var(--border2);

      >* {
        margin-bottom: 0;
      }
    }

    th {
      padding: var(--spc-m) var(--spc-l);

      font-weight: 600;
      color: var(--text);
      text-align: left;

      background-color: var(--bg1);
    }

    p {
      margin: 0;
    }
  }


  ul {
    display: block;
    margin-bottom: var(--spc-l);

    >li {
      display: list-item;
      margin-left: var(--spc-xl);
      list-style-type: disc;

      >p {
        margin-bottom: var(--spc-s);
      }
    }
  }

  ol {
    display: block;
    margin-bottom: var(--spc-l);

    >li {
      display: list-item;
      margin-left: var(--spc-l);
      list-style: decimal;

      >p {
        margin-bottom: var(--spc-s);
      }
    }
  }

  blockquote {
    display: block;
    padding: 0 var(--spc-xl);
    color: var(--text4);
    border-left: 4px solid var(--bg3);

    >p {
      padding: var(--spc-l);
    }
  }

}

ul.taskList {
  padding-inline-start: var(--spc);
  list-style: none;

  li {
    display: flex;
    gap: var(--spc);
    align-items: center;

    margin-bottom: var(--spc-l);
    margin-left: 0;

    >p {
      margin-bottom: 0;
    }
  }

  ul {
    margin-bottom: 0;
    list-style: none;
  }

}

.image {
  position: relative;

  img {
    // width: 100%;
    // object-fit: contain;
    // image-orientation: none;
    max-width: 100%;
  }
}


.inlineCode {
  padding: 1px 0.375rem;

  font-family: var(--font-code);
  font-size: var(--font);
  color: #eb5757;
  overflow-wrap: break-word;

  background-color: var(--bg2);
  border: 1px solid var(--border2);
  border-radius: var(--radius2);
}

.codeDiff {
  margin-bottom: var(--spc-l);
  border: 1px solid var(--border1);
}

.code {
  display: flex !important;

  margin-bottom: var(--spc-l);
  padding: var(--spc-xl) var(--spc-2xl) !important;

  background-color: var(--bg2) !important;
  border: none !important;

  code,
  code span {
    font-family: var(--font-code) !important;
    font-size: var(--font) !important;
    font-weight: inherit;
    font-style: inherit;
    font-variant-ligatures: inherit;
    line-height: inherit;
    text-shadow: none !important;
    text-rendering: inherit;
    letter-spacing: inherit;

    -webkit-font-smoothing: antialiased;
  }
}


.vote {
  display: flex;
  flex-direction: column;
  gap: var(--spc-xl);
  margin-bottom: var(--spc-3xl);
}

.added {
  padding: 0 var(--spc-2xl);
  background-color: var(--added2);
  border-left: 10px solid var(--added3);
}

.removed {
  padding: 0 var(--spc-2xl);

  text-decoration: line-through;

  opacity: 0.7;
  background-color: var(--removed2);
  border-left: 10px solid var(--removed3);
}

.placeholder {
  color: var(--text1);
}
