@import "../../styles/theme";

ul.taskList {
  list-style: none;

  li {
    margin-left: 0;
  }

  ul {
    margin-bottom: 0;
    list-style: none;
  }
}

.image {
  position: relative;

  img {
    width: 100%;
    object-fit: contain;
    image-orientation: none;
  }
}



.code {
  display: flex !important;
  padding: 0 !important;
  background-color: $gray-50 !important;
  border: none !important;

  >code {
    >span {
      display: flex;
      border-left: $p-s solid $gray-200;
    }

    >span:first-child>span {
      padding-top: $p-l
    }

    >span:last-child>span {
      padding-bottom: $p-l
    }
  }


  :global .linenumber {
    margin-right: $p-xl;
    padding-right: $p-m !important;
    color: $gray-500;
    background-color: $gray-200;
  }
}


.vote {
  display: flex;
  flex-direction: column;
  gap: $p-xl;
  margin-bottom: $p-3xl;
}
