@import "../../../styles/theme";

.main {
  width: $main-col-w;
  margin: 0 auto;
}

.info {
  margin: var(--spc-5xl) 0 0 0;
  padding: var(--spc-5xl) 0 0 var(--spc-2xl);
  border-top: 1px solid var(--border2);
}
