@import "../../../styles/theme";

.rowTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  display: flex;
  gap: $p-m;
  align-items: center;
}

.subtitle {
  display: flex;
  gap: $p-m;
  align-items: center;

  margin-left: 3px;

  font-size: $font-s;
  color: $gray-400;
}


.approved {
  svg {
    color: $green-600;
  }
}

.banned {
  svg {
    color: $red-500;
  }
}

.content {
  margin-top: $p-xl;
}
