@import "../../styles/theme";

.tree {
  position: sticky;
  top: 20px;

  display: flex;
  flex-direction: column;

  width: 180px;
  margin: 20px 0 0 20px;
}

.link {
  overflow: hidden;
  display: block;

  padding: var(--spc-xs) var(--spc-l);

  font-size: var(--font-s);
  text-overflow: ellipsis;
  white-space: pre;
}
