@import '../../theme.scss';

.lvl-1 {
  font-size: $font;
}
.lvl-2 {
  padding: 0 0 0 8px;
  font-size: $font-s;
}
.lvl-3 {
  padding: 0 0 0 16px;
  font-size: $font-s;
}
.lvl-4 {
  font-size: $font-s;
  padding: 0 0 0 22px;
}
