@import "../../../../styles/theme";

.header {
  display: flex;
  grid-template-columns: 1fr 40px;
  align-items: center;

  height: 30px;
  margin-bottom: $p-l;
}

.title {
  display: flex;
  flex-grow: 1;
  margin-bottom: 0 !important;
  font-size: $font-3xl !important;

  >div {
    margin-bottom: 0 !important;
  }
}

.type {
  padding: 0 $p-l 0 0;
  font-weight: 600;
  color: $gray-600
}

.headings {
  position: absolute;
  z-index: 1;
  top: 0;
}

.content {
  padding: $p-2xl 0 0 0;
  font-size: $font-m;
}
