.header {
  display: flex;
  grid-template-columns: 1fr 40px;
  align-items: center;
}

.type {
  padding: 0 var(--spc-l) 0 0;
  font-weight: 600;
  color: var(--text-secondary);
}

.content {
  padding: var(--spc-2xl) 0 0 0;
  font-size: var(--font-m);
}

.col1 {
  padding-top: var(--spc-2xl);
  background-color: #fff;
}

.col2 {
  padding: var(--spc-6xl);
  background-color: #fff;
}

.col3 {
  display: flex;
  flex-direction: column;
  gap: var(--spc-5xl);
  padding: var(--spc-2xl) var(--spc-5xl);
}
