@import "../../../styles/theme";

.container {
  display: flex;
  background-color: #fff;
}


.presentation {
  // min-width: $min-w;
  // max-width: $max-w;
  // margin: 0 auto;
  display: flex;
  width: 100%;
}
