.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-height: 300px;
}

.icon {
  font-size: var(--font-2xl);
}

.action {
  margin-top: var(--spc-xl);
}
