@import "../../../styles/theme";

.select {
  justify-content: space-between;
  width: 250px;
}

.install {
  margin-top: var(--spc-s);
  padding-top: var(--spc-s);
  border-top: 1px solid var(--border2);
}

.option {
  display: flex;
  gap: var(--spc-m);
  align-items: center;
}
