@import "../../theme";

.mini {
  position: relative;
}

.editor {
  min-height: 40px;
  padding: $p $p $p-s $p-l;
  background-color: $gray-2;

  p {
    margin-bottom: $p-m;
  }

  :global {

    /* stylelint-disable-next-line selector-class-pattern */
    .ProseMirror-focused:focus {
      outline: none;
    }

    /* stylelint-disable-next-line selector-class-pattern */
    .ProseMirror {
      min-height: inherit;

      p.is-editor-empty:first-child::before {
        pointer-events: none;
        content: attr(data-placeholder);

        float: left;

        height: 0;

        color: #adb5bd;
      }
    }
  }
}

.toolbar {
  position: absolute;
  z-index: 1;
  top: 0;
  left: -24px;

  display: flex;
  flex-direction: column;
  gap: $p;

  min-height: 40px;
  padding: $p-m - 1px 0;

  background-color: $gray-2;

  button {
    color: $gray-6;
    background-color: transparent;
    border: none;
    box-shadow: none;

    &.isUpdated {
      color: $gray-8;
    }
  }
}
