@import "../../styles/theme";

.mini {
  position: relative;
}

.editor {
  min-height: 30px;
  padding: $p $p $p-s $p-l;
  box-shadow: $box-shadow-editable;

  p {
    margin-bottom: $p-m;
  }

  :global {

    // stylelint-disable selector-class-pattern
    .ProseMirror-focused:focus {
      outline: none;
    }

    .ProseMirror {
      min-height: inherit;

      p.is-editor-empty:first-child::before {
        pointer-events: none;
        content: attr(data-placeholder);

        float: left;

        height: 0;

        color: #adb5bd;
      }
    }

    // stylelint-enable selector-class-pattern
  }
}

.toolbar {
  position: absolute;
  z-index: 1;
  top: 0;
  left: -24px;

  display: flex;
  flex-direction: column;
  gap: $p;

  min-height: 40px;
  padding: $p-m - 1px 0;

  background-color: $blue-50;

  button {
    color: $sky-200;
    background-color: transparent;
    border: none;
    box-shadow: none;

    &.isUpdated {
      color: $blue-400;
    }
  }
}
