@import "../../styles/theme";
@import "../../styles/mixin";

.mini {
  position: relative;
}

.editor {
  min-height: 30px;

  :global {

    // stylelint-disable selector-class-pattern
    .ProseMirror-focused:focus {
      outline: none;
    }

    .ProseMirror {
      @include editable;

      min-height: inherit;


      p.is-editor-empty:first-child::before {
        pointer-events: none;
        content: attr(data-placeholder);

        float: left;

        height: 0;

        color: #adb5bd;
      }
    }
  }
}

// .toolbar {
//   position: absolute;
//   z-index: 1;
//   top: 0;
//   right: -24px;

//   display: flex;
//   flex-direction: column;
//   gap: $p;

//   min-height: 40px;
//   padding: $p-m - 1px 0;

//   background-color: $blue-50;

//   button {
//     color: $sky-200;
//     background-color: transparent;
//     border: none;
//     box-shadow: none;

//     &.isUpdated {
//       color: $blue-400;
//     }
//   }
// }
