@import "../../../../styles/theme";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.lines {
  display: flex;
  flex-direction: column;
  gap: $p-3xl;
}

.title {
  margin-bottom: 0 !important;
  padding: $p-m $p-2xl 0 $p-2xl;
  border-bottom: 1px solid var(--border);
}

.search {
  width: 250px;
}

.empty {
  padding: $p-2xl;
  color: $gray-400;
}
