@import "../../../../styles/theme";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.lines {
  display: flex;
  flex-direction: column;
  gap: var(--spc-3xl);
}

.title {
  padding: var(--spc-l) var(--spc-2xl);
  border-bottom: 1px solid var(--border2);
}

.search {
  width: 250px;
}

.empty {
  display: block;
  padding: var(--spc-2xl);
}
