@import "../../../styles/theme";


.menu {
  pointer-events: none;

  position: absolute;
  z-index: 100;

  display: flex;
  gap: $p-l;
  align-items: center;
  justify-content: flex-end;

  width: 100%;
  padding: $p-l $p-l;

  opacity: 0;

  transition: opacity 0.2s ease-in-out;

  &.visible {
    opacity: 1;
  }

  &.top {
    justify-content: flex-end;
    padding: $p;
  }

  &.bottom {
    bottom: 0;
    justify-content: left;
  }

  &.left {
    align-items: center;
    justify-content: flex-start;
  }

  &.right {
    right: 0;
    justify-content: right;
  }
}

.toolbar {
  pointer-events: all;

  display: flex;

  background-color: #fff;
  border-radius: $border-radius;
  box-shadow: $box-shadow2;

  &.dark {
    padding: $p-s $p-m $p-s $p-xl;
    font-size: $font-xs;
    color: white;
    background-color: var(--bg10);
  }
}

.add {
  cursor: pointer;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: $p-m;

  font-size: $font-s;

  background-color: #fff;
  border-radius: $border-radius;

  &:hover {
    background-color: var(--bg2);
  }
}
