.menu {
  pointer-events: none;

  position: absolute;
  z-index: 100;

  display: flex;
  gap: var(--spc-l);
  align-items: center;
  justify-content: flex-end;

  width: 100%;
  padding: var(--spc-l) var(--spc-l);

  opacity: 0;

  transition: opacity 0.2s ease-in-out;

  &.visible {
    opacity: 1;
  }

  &.top {
    justify-content: flex-end;
    padding: var(--spc);
  }

  &.bottom {
    bottom: 0;
    justify-content: left;
  }

  &.left {
    align-items: center;
    justify-content: flex-start;
  }

  &.right {
    right: 0;
    justify-content: right;
  }

  &.center {
    &.left {
      width: 81px;
      height: 100vh;
    }
  }
}

.toolbar {
  pointer-events: all;

  display: flex;

  background-color: #fff;
  border-radius: var(--radius3);
  box-shadow: var(--shadow2);

  &.dark {
    padding: var(--spc) var(--spc-m) var(--spc) var(--spc-xl);
    font-size: var(--font-xs);
    color: white;
    background-color: var(--bg10);
  }
}

.add {
  cursor: pointer;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  padding: var(--spc-m);

  font-size: var(--font-s);

  background-color: #fff;
  border-radius: var(--radius3);

  &:hover {
    background-color: var(--bg2);
  }
}

.help {
  width: 400px;
  margin: var(--spc-l) var(--spc-2xl);
  padding: var(--spc-xl) var(--spc-3xl);
}
