@import "../../styles/theme";

.container {
  display: flex;
  gap: $p-3xl;

  width: 100%;
  max-width: $main-col-w * 2;
  padding: $p-4xl $p-5xl;

  // margin: 0 auto; // this trigger a weird animation
  &.noPadding {
    position: relative;
    gap: 0;
    min-height: calc(100vh - $height-header-project-total);
    padding: 0;
  }
}

.right,
.left,
.center {
  display: flex;
  flex-direction: column;
  gap: $p-3xl;
  max-width: 50%;
}

.left {
  min-width: $main-col-w;
}

.right {
  width: inherit;
  min-width: calc(50% - $p-3xl * 2);
}

.center {
  justify-content: space-around;
  min-width: $min-w;
  max-width: $max-w;
}

.left2third {
  width: 57%;
  min-width: $main-col-w;
  background-color: #fff;

  &.padded {
    padding: $p-2xl $p-5xl;
  }
}

.right1third {
  width: calc(100% - 57%);
  background-color: var(--bg2);
  border-left: 1px solid var(--border2);
}
