@import "../../styles/theme";

.container {
  display: flex;
  gap: $p-3xl;
  padding: $p-3xl;
}

.right,
.left {
  display: flex;
  flex-direction: column;
  gap: $p-3xl;
  max-width: 50%;
}

.left {
  min-width: 750px;
}

.right {
  width: inherit;
  min-width: calc(50% - $p-3xl * 2);
}
