.container {
  display: flex;
  gap: var(--spc-3xl);

  width: 100%;
  max-width: calc(var(--w-col) * 2.2);
  padding: var(--spc-4xl) var(--spc-5xl);

  // margin: 0 auto; // this trigger a weird animation
  &.noPadding {
    position: relative;
    gap: 0;
    min-height: 100vh;
    padding: 0;
  }
}

.right,
.left,
.center {
  display: flex;
  flex-direction: column;
  gap: var(--spc-3xl);
}

.left {
  min-width: var(--w-col);
}

.right {
  width: inherit;
  min-width: calc(50% - var(--spc-3xl) * 2);
}

.center {
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.left2third {
  position: relative;

  width: 57%;
  min-width: var(--w-col);
  max-width: var(--w-col);

  background-color: #fff;

  &.padded {
    padding: var(--spc-2xl) var(--spc-5xl);
  }
}

.right1third {
  width: calc(100% - 57%);
  background-color: var(--bg1);
  border-left: 1px solid var(--border2);
}


@media (width <=1650px) {
  .left2third {
    width: 50%;
    min-width: 650px;
  }

  .right1third {
    width: 50%;
  }
}

@media (width >=1900px) {
  .right1third {
    width: 50%;
  }
}
