@import "../../../styles/theme";

.icon {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;

  width: $p-xl;
  height: $p-xl;

  font-size: 11px;
  line-height: 14px;
  color: var(--text);

  &.large {
    width: 22px;
    height: 22px;
    font-size: 19px;
  }

  >span {
    width: $p-xl;
    height: $p-xl;
    line-height: $line-height-s;
  }

  &.service {
    padding: 0 1px;

    line-height: 16px;
    color: white;

    background-color: $indigo-400;
    border-radius: 4px;
  }

  &.project {
    >span {
      width: $p-xl;
      height: $p-xl;
    }

    &.large {
      >span {
        width: 22px;
        height: 22px;
        font-size: $font-s;
      }
    }
  }

  &.noEmpty {
    border: 1px solid var(--border1);
  }
}
