@import "../../styles/theme";

.header {
  display: flex;
  gap: $p;
  align-items: center;

  padding: $p-m;

  border-bottom: 1px solid $gray-100;
}

.created {
  color: $lime-500;
  background-color: $lime-50;
}

.deleted {
  color: $red-500;
  background-color: $red-50;
}

.updated {
  color: $primary;
  background-color: $blue-50;
  background-color: transparent;
}

.diff {
  position: relative;
  height: auto;

  .diffContent {
    padding: $p-2xl 0 $p-2xl 0;
  }

  &.hide {
    overflow: hidden;
    height: 0;
  }
}

.unmodifiedTitle {
  margin-bottom: 0 !important;
  padding: 0 $p-2xl;
}


.removed {
  text-decoration: line-through;
  opacity: 0.7;
  background-color: $red-50;
  border-left: 10px solid $red-300;
}

.content {
  padding: $p-2xl $p-2xl 0 $p-2xl;
}

.fileDeleted {
  position: absolute;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
}
