@import "../../styles/theme";

$border-width: 10px;

.header {
  display: flex;
  gap: $p;
  align-items: center;

  padding: $p-m;

  border-bottom: 1px solid $gray-200;
}

.diff {
  position: relative;
  height: auto;
  border-left: $border-width solid transparent;

  .diffContent {
    padding: 0 0 $p-4xl 0;
  }

  &.hide {
    overflow: hidden;
    height: 0;
  }

  &.added,
  &.removed {
    margin: 0;
    padding-left: 0;

    .title {
      padding: 0 $p-4xl;
    }
  }
}

.title {
  padding: 0 $p-4xl;
}

// Diff
.added {
  margin: 0 (-$p-4xl) 0 (-$p-4xl - $border-width);
  padding-left: $p-4xl;
  background-color: $color-added;
  border-left: $border-width solid $color-added-hi;

  &.inline {
    margin: 0;
    padding-left: 0;
    background-color: $color-added-hi;
    border-left: none;
  }
}

.formatting {
  border-bottom: 1px solid $color-added-hi;
}

.removed {
  margin: 0 (-$p-4xl) 0 (-$p-4xl - $border-width);
  padding-left: $p-4xl;

  text-decoration: line-through;

  opacity: 0.7;
  background-color: $color-removed;
  border-left: $border-width solid $color-removed-hi;

  &.inline {
    margin: 0;
    padding-left: 0;
    background-color: $color-removed-hi;
    border-left: none;
  }
}

.content {
  padding: $p-2xl $p-4xl 0 $p-4xl;

  >h3 {
    margin-bottom: $p-2xl !important;
  }
}

.fileDeleted {
  position: absolute;
  top: 0;

  display: flex;
  align-items: flex-start;
  justify-content: flex-end;

  width: 100%;
  height: 100%;

  font-family: $font-code;
  font-size: $font-s;
  font-weight: 600;
  color: $red-900;

  span {
    background-color: $red-300;
  }
}

.line {
  padding-top: $p-xl;

  >div {
    padding-top: $p-s;
    padding-bottom: $p-s;
  }

  .item {
    background-color: transparent;
    border: 1px solid $gray-200;
  }

  >.added {
    background-color: transparent;

    .item {
      background-color: $color-added-low;
      border-color: transparent;
    }
  }

  >.removed {
    background-color: transparent;

    .item {
      background-color: $color-removed-low;
      border-color: transparent;
    }
  }
}

.techs {
  display: flex;
  gap: $p-m;
}

.data {
  display: flex;
  flex-direction: column;
  gap: $p-m;
}

.icon {
  display: inline-flex;

  margin-right: $p-l;

  font-size: $font-3xl;
  color: $gray-500;
  vertical-align: sub;
}
