.sidebar {
  padding-top: var(--spc-5xl);
}

.block {
  padding: var(--spc-xl) var(--spc-3xl);
  border-bottom: 1px solid var(--border2);
}

.stat {
  width: 100px;
}

.tag {
  display: flex;
  justify-content: end;
  margin-bottom: var(--spc-s);
  font-size: var(--font-xs);
}

.tooltip {
  padding: 0 var(--spc-l) !important;
  background-color: transparent !important;
  border: 1px solid var(--border2) !important;
  border-radius: var(--radius1);
}
