@import "../../../styles/theme";

.block {
  margin-bottom: $p-2xl;
  border: 1px solid $gray-200;
  border-radius: $border-radius;
}

.header {
  cursor: pointer;

  display: flex;
  gap: $p-m;
  align-items: center;

  padding: $p-xl;

  font-size: $font-l;
  font-weight: 600;

  svg {
    font-size: $font;
  }
}

.content {
  overflow: hidden;
  padding: 0 $p-xl $p-m $p-xl;

  &.close {
    height: 0;
    padding-bottom: 0;
  }
}
