.staging {
  display: flex;
  gap: var(--spc);
  align-items: center;
  justify-content: space-between;

  height: 52px;
  padding: 0 var(--spc-m) 0 1px;

  font-size: var(--font);

  border-top: 1px solid var(--border2);
  border-bottom: 1px solid var(--border2);
}

.action {
  display: flex;
  gap: var(--spc-m)
}
