@import "../../../../styles/theme";

.staging {
  display: flex;
  gap: $p-xl;
  align-items: center;

  height: 72px;
  padding: $p-xl;

  font-size: $font-s;

  border-bottom: 1px solid var(--border2);
}

.edit {
  cursor: pointer;

  width: 40px;
  margin-right: 2px;

  font-size: $font-l;
  text-align: center;

  &.badge {
    color: var(--accent2);
  }
}
