@import '../../theme.scss';

.skeletonAvatar {
  >span {
    width: 50px !important;
    height: 50px !important;
  }
}

.skeletonTitle {
  margin: 42px 0 12px 0;
  width: 250px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  margin-bottom: 0 !important;
  line-height: 32px !important;
  display: flex;
  gap: $p;

  .parentSlash {
    color: $gray-8;
    font-size: $font-l;
    font-weight: normal;
  }

  a {
    color: $gray-10;
  }
}

.avatar {
  width: 50px;
  height: 50px;
  line-height: 48px;
  font-size: $font-m;
}

.avatarCustom,
.avatarCustom>span {
  font-size: 35px !important;
  line-height: 45px;
  width: 50px;
  height: 50px;
  background-color: $gray-4;
  border-radius: 30px;
}

.avatarCustom i {
  padding-top: 5px;
  display: inline-block;
}

.subtitle {
  color: $gray-6;
  font-size: $font-s;
}
