@import "../../../../theme";

.update {
  max-width: 1200px;
  background-color: #fff;
  box-shadow: $box-shadow;
}

.title {
  display: flex;
  gap: $p-l;
  align-items: center;

  padding: $p $p-xl;

  font-size: $font;

  border-bottom: 1px solid $gray-4;

  .titleLeft {
    display: flex;
    flex: auto;
    gap: $p-l;
    align-items: center;
  }

  a {
    color: $gray-10;

    &:hover {
      color: $primary;
      text-decoration: underline;
    }
  }

  .titleRight {
    display: flex;
    gap: $p-l;
    align-items: center;
  }
}

.left,
.right {
  padding: $p-xl $p-l;
}

.left {
  border-right: 1px solid $gray-4;
}

.toggle {
  cursor: pointer;
  font-size: $font-s;
}

.staged {
  display: grid;
  gap: $p-xxl;
  margin-bottom: $p-xxl;
}

.diff {
  display: grid;
  grid-template-columns: 50% 50%;
}

.removed {
  background-color: #ffccc7;
}

.added {
  display: inline-block;
  background-color: #d9f7be;
}

.propose {
  max-width: 600px;
}

.empty {
  font-style: italic;
  color: $gray-6;
}
