@import "../../../../theme";

.update {
  background-color: #fff;
  border-radius: $border-radius-s;
  box-shadow: $box-shadow;
}

.title {
  padding: $p $p-xl;
  font-size: $font-m;
  display: flex;
  gap: $p-l;
  align-items: center;
  border-bottom: 1px solid $gray-5;
}

.toggle {
  font-size: $font-s;
  cursor: pointer;
}
