/* stylelint-disable selector-class-pattern */
@import "../../../styles/theme";
@import "../../../styles/mixin";

.textarea {
  @include ringWithin;

  flex-grow: 1;

  min-height: 50px;

  line-height: $line-height;
  color: var(--text);

  background-color: #fff;
  border: 1px solid var(--border2);
  border-radius: $border-radius-s;

  &::placeholder {
    color: var(--text1)
  }

  &.s {
    height: var(--h-s);
    padding: $p-s $p-l;
    font-size: $font-s;
  }

  &.m {
    height: var(--h-m);
    padding: $p $p-l;
    font-size: $font;
  }

  &.l {
    height: var(--h-l);
    padding: $p-m $p-xl;
    font-size: $font;
  }

  &.xl {
    height: var(--h-xl);
    padding: $p-l $p-xl;
    font-size: $font-l;
  }

  &.disabled {
    cursor: not-allowed;
    color: var(--text3);
    background-color: var(--bg2);
    border-color: var(--border2);
  }

  &.readonly {
    color: var(--text4);
  }
}
