/* stylelint-disable selector-class-pattern */
@import "../../../styles/theme";
@import "../../../styles/mixin";

.textarea {
  @include ringWithin;

  flex-grow: 1;

  min-height: 50px;

  line-height: var(--lh);
  ;
  color: var(--text);

  background-color: #fff;
  border: 1px solid var(--border2);
  border-radius: var(--radius2);

  &::placeholder {
    color: var(--text1)
  }

  &.s {
    height: var(--h-s);
    padding: var(--spc-s) var(--spc-l);
    font-size: var(--font-s);
  }

  &.m {
    height: var(--h-m);
    padding: var(--spc) var(--spc-l);
    font-size: var(--font);
  }

  &.l {
    height: var(--h-l);
    padding: var(--spc-m) var(--spc-xl);
    font-size: var(--font);
  }

  &.xl {
    height: var(--h-xl);
    padding: var(--spc-l) var(--spc-xl);
    font-size: var(--font-l);
  }

  &.disabled {
    cursor: not-allowed;
    color: var(--text3);
    background-color: var(--bg2);
    border-color: var(--border2);
  }

  &.readonly {
    color: var(--text4);
  }
}
