.popover {
  width: 400px;
  margin: var(--spc-l) var(--spc-2xl);
  padding: var(--spc-xl) var(--spc-3xl);
}

.desc {
  margin-bottom: var(--spc-l);
  font-size: var(--font-s);
  line-height: var(--lh-s);
}
