@import "../theme";

.rx_navMenuRoot {
  position: relative;
  z-index: 1;
  display: flex;

  &[data-orientation="horizontal"] {
    .rx_navMenuLink {
      padding: $p $p-l;

      &::after {
        content: " ";

        position: absolute;
        bottom: -21px;
        left: 0;

        width: 100%;

        border-bottom: 2px solid transparent;
      }

      &:hover {
        color: var(--text);
        background-color: var(--bg2);
      }

      &[data-active] {
        color: var(--text);
        background-color: var(--bg2);

        &::after {
          border-bottom-color: var(--accent2);
        }
      }

    }
  }
}

.rx_navMenuList {
  display: flex;
  gap: $p-s;
  justify-content: center;

  margin: 0;
  padding: 4px;

  list-style: none;

  border-radius: 6px;

  &[data-orientation='vertical'] {
    flex-direction: column;
    width: 200px;

    .rx_navMenuTrigger,
    .rx_navMenuLink {
      width: 100%;
    }
  }
}

.rx_navMenuTrigger,
.rx_navMenuLink {
  cursor: pointer;
  user-select: none;

  position: relative;

  display: flex;
  gap: $p-l;
  justify-content: space-between;

  padding: $p-m $p-l;

  color: var(--textLight);

  border-radius: $border-radius;
  outline: none;

  &:hover {
    color: var(--text);
    background-color: var(--bg3);
  }

  &[data-active] {
    color: var(--text);
    background-color: var(--bg3);
  }
}
