@use "sass:math";

@import "../../../../styles/theme";

$width: math.div(var(--w-col), 1.5);

.form {
  display: flex;
  flex-direction: column;
  gap: var(--spc-m);
  justify-content: center;

  width: $width;
  height: calc(100vh);
  margin: 0 auto;
}

.type {
  width: $width;
}

.title {
  display: flex;
  gap: var(--spc-m);
}

.input {
  padding: var(--spc-l);
  font-size: var(--font-l);
}

.button {
  width: 48px !important;
  height: 48px;
}
