$width: calc(var(--w-col) / 1.5);

.form {
  display: flex;
  flex-direction: column;
  gap: var(--spc-m);
  justify-content: center;

  width: $width;
  height: calc(100vh);
  margin: 0 auto;
}

.title {
  display: flex;
  gap: var(--spc-m);
}
