@import "../../../styles/theme";

.trigger {
  display: inline-flex;
  gap: 5px;
  align-items: center;
  justify-content: space-between;

  min-width: 100px;
  height: 34px;
  padding: 0 var(--spc-xl);

  color: var(--text);

  background-color: white;
  border: 1px solid var(--border2);
  border-radius: $border-radius-s;

  &[data-placeholder] {
    color: var(--violet9);
  }

  /* stylelint-disable-next-line selector-class-pattern */
  &.s {
    height: 24px;
    padding: 0 var(--spc);
    font-size: var(--font-s);
  }

  /* stylelint-disable-next-line selector-class-pattern */
  &.l {
    height: 38px;
    font-size: var(--font-m);
  }
}

.icon {
  width: var(--spc-xl);
  color: var(--text);
}

.check {
  position: absolute;
  left: 4px;
}

.content {
  z-index: 10;

  overflow: hidden;

  background-color: white;
  border-radius: 6px;
  box-shadow: 0 10px 38px -10px rgb(22 23 24 / 35%), 0 10px 20px -15px rgb(22 23 24 / 20%);
}

.viewport {
  padding: 5px;
}

.item {
  user-select: none;

  position: relative;

  display: flex;
  align-items: center;

  height: 25px;
  padding: 0 35px 0 25px;

  font-size: 13px;
  line-height: 1;
  color: var(--text);

  border-radius: 3px;

  &[data-disabled] {
    pointer-events: none;
    color: var(--textDisabled);
  }

  &[data-highlighted] {
    color: var(--text);
    background-color: var(--bg3);
    outline: none;
  }
}
