@import "../../../styles/theme";

.grid {
  display: grid;
  grid-template-columns: max(700px) 1fr;
  gap: 16px;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.right {
  padding-top: 98px;

  img {
    width: 100%;
  }
}

.titleEdit {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.actions {
  display: flex;
  align-items: center;
  margin-bottom: $p-l;
}

.tagType {
  background-color: #fff;
  border: 1px solid transparent !important;

  &.component {
    color: $blue-600;
    border-color: $blue-300 !important;
  }

  &.thirdparty {
    color: $purple-600;
    border-color: $purple-300 !important;
  }

  &.project {
    color: $yellow-600;
    border-color: $yellow-300 !important;
  }

  &.hosting {
    color: $slate-600;
    border-color: $slate-300 !important;
  }
}
