@import "../../../styles/theme";

.content {
  padding-bottom: $p-xl;
}

.tagType {
  background-color: #fff;
  border: 1px solid var(--border1) !important;

  &.service {
    color: $blue-600;
    border-color: $blue-300 !important;
  }

  &.sass {
    color: $purple-600;
    border-color: $purple-300 !important;
  }

  &.project {
    color: $yellow-600;
    border-color: $yellow-300 !important;
  }

  &.hosting {
    color: $slate-600;
    border-color: $slate-300 !important;
  }
}
