@import "../../../theme";

.grid {
  display: grid;
  grid-template-columns: max(700px) 1fr;
  gap: 16px;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.right {
  padding-top: 98px;

  img {
    width: 100%;
  }
}

.language {
  display: inline-block;
  margin: 0 22px 0 0;
  font-size: $font;
  color: $gray-8;
}

.line {
  display: grid;
  grid-template-columns: 150px auto;
  margin-bottom: 12px;
}

.block {
  margin-top: 32px;
}
