@import "../../../styles/theme";

.group {
  display: flex;
  flex-direction: column;
  padding: 0 0 var(--spc-2xl) 0;
  font-size: var(--font);

  .head {
    margin-bottom: var(--spc-s);
    padding: 0 var(--spc-l) 0 14px;
  }

  .name {
    padding: 0 var(--spc-l) 0 var(--spc-m);
    font-size: var(--font-s);
    color: var(--text-secondary);
  }

  .sub {
    padding: 0 var(--spc-l);
    transition: height 0.25s ease-in-out;
  }
}
