.portal {
  position: fixed;
  z-index: 9989892;
  top: 16px;
  right: 16px;

  display: flex;
  flex-direction: column;
  gap: var(--spc-l);

  list-style: none;
}

.toast {
  width: 220px;
  padding: var(--spc-l) var(--spc-xl);

  line-height: var(--font-l);

  background-color: #fff;
  border-radius: var(--radius3);
  box-shadow: var(--shadow3);


  &.success {
    .icon {
      color: var(--grass-9)
    }
  }

  &.error {
    .icon {
      color: var(--tomato-9)
    }
  }
}

.icon {
  width: 20px;
  font-size: var(--font-m);
}

.show {
  margin-top: var(--spc-m);
}
