@import "../../styles/theme";

.portal {
  position: fixed;
  z-index: 9989892;
  top: 16px;
  right: 16px;

  display: flex;
  flex-direction: column;
  gap: $p-l;

  list-style: none;
}

.toast {
  width: 220px;
  padding: $p-l $p-xl;

  line-height: var(--font-l);

  background-color: #fff;
  border-radius: $border-radius;
  box-shadow: $box-shadow3;


  &.success {
    .icon {
      color: var(--grass-9)
    }
  }

  &.error {
    .icon {
      color: var(--tomato-9)
    }
  }
}

.icon {
  width: 20px;
  font-size: var(--font-m);
}

.show {
  margin-top: $p-m;
}
