@import "../../styles/theme";


.menu {
  position: relative;
  z-index: 1;

  display: flex;
  flex-direction: column;

  width: 100%;

  >div {
    width: 100%;
  }


  &[data-orientation="horizontal"] {
    .link {
      padding: var(--spc) var(--spc-l);

      &::after {
        content: " ";

        position: absolute;
        bottom: -21px;
        left: 0;

        width: 100%;

        border-bottom: 2px solid transparent;
      }

      &:hover {
        color: var(--text);
        background-color: var(--bg2);
      }

      &[data-active] {
        color: var(--text);
        background-color: var(--bg2);

        &::after {
          border-bottom-color: var(--accent2);
        }
      }

    }
  }
}

.list {
  display: flex;
  gap: var(--spc);
  justify-content: center;

  margin: 0;
  padding: 4px;

  list-style: none;

  border-radius: 6px;

  &[data-orientation='vertical'] {
    flex-direction: column;

    .trigger,
    .link {
      width: 100%;
    }
  }
}

.trigger,
.link {
  cursor: pointer;
  user-select: none;

  position: relative;

  display: flex;
  gap: var(--spc-l);
  justify-content: space-between;

  padding: var(--spc-s) var(--spc-l) var(--spc-s) var(--spc);

  color: var(--text-secondary);

  border-radius: var(--radius2);
  outline: none;

  &:hover {
    color: var(--text);
    background-color: var(--bg2);
  }

  &[data-active] {
    color: var(--text);
    background-color: var(--bg2);
  }

  svg {
    width: 22px;
    height: 22px;
    padding: 2px;
  }
}
