@import "../../../styles/theme";

.composition {
  position: absolute;
  z-index: 1;

  display: flex;
  flex-direction: column;
  gap: $p-xl;

  margin: ($p-l + 42px) 0 0 $p-l;
}

.block {
  overflow: hidden;

  width: 200px;
  max-height: 400px;

  font-family: Assistant;

  background-color: #fff;
  border: 1px solid $gray-100;
  border-radius: $border-radius;
  box-shadow: $box-shadow3;
}

.title {
  display: flex;
  justify-content: space-between;

  padding: $p-m $p-l;

  font-size: $font;

  // font-weight: 300;

  // background-color: $blue-300;
  border-bottom: 1px solid $gray-100;

  // border-left: 4px solid $blue-300;

  .titleLeft {
    display: flex;
    gap: $p-s;
    align-items: center;
  }

  &.toggle {
    cursor: pointer;
    padding-left: $p-m;
  }
}

.inside {
  overflow: scroll;
  display: flex;
  flex-direction: column;
  gap: $p-l;

  max-height: 400px;
  padding: $p-l $p-l;
}

.change {
  gap: $p-s;
  font-size: $font-s;

  >div {
    display: flex;
    justify-content: space-between;

    :global(.ant-btn) {
      width: 18px;
      height: 18px;
      font-size: $font-s;
    }
  }
}

.xy {
  display: flex;
  gap: $p-s;
  font-size: $font-s;
  color: $gray-400;
}

.label {
  font-size: $font-s;
  font-weight: 600;
  color: $gray-700;
}

.inputs {
  display: flex;
  gap: $p-s;
  align-items: flex-end;

  font-size: $font-s;
  line-height: 20px;
  color: $gray-400;
}

.input {
  width: 50px;
  height: 20px;
  padding: 0 $p-m;

  color: $gray-800;

  border: 1px solid $gray-300;
  border-radius: $border-radius-s;
}
