@import "../../styles/theme";
@import "../../styles/mixin";

.button {
  cursor: pointer;

  display: flex;
  gap: var(--spc-s);
  align-items: center;

  padding: var(--spc);

  color: var(--text4);

  border-radius: 10px;

  &:hover {
    color: var(--primary);
    background: var(--bg2);
  }
}


.menuContent,
.menuSubContent {
  will-change: transform, opacity;

  z-index: 500;

  min-width: 100px;

  background-color: white;
  border-radius: var(--radius3);
  box-shadow: var(--shadow2);

  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);

  &[data-side='top'] {
    animation-name: slideDownAndFade;
  }

  &[data-side='right'] {
    animation-name: slideLeftAndFade;
  }

  &[data-side='bottom'] {
    animation-name: slideUpAndFade;
  }

  &[data-side='left'] {
    animation-name: slideRightAndFade;
  }

  button {
    text-align: left;
  }
}

.menuArrow {
  fill: white;
}

.group {
  display: flex;
  flex-direction: column;
  padding: var(--spc) 0;
}

.separator {
  height: 1px;
  margin: -1px 0 0;
  padding: 0;
  background-color: var(--bg3)
}

.item {
  display: flex;
  gap: var(--spc-m);
  align-items: center;

  padding: var(--spc-m) var(--spc-xl);

  color: var(--text4);

  &:hover {
    color: var(--text);
    background-color: var(--bg3)
  }
}

@keyframes slideUpAndFade {
  from {
    transform: translateY(2px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideRightAndFade {
  from {
    transform: translateX(-2px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideDownAndFade {
  from {
    transform: translateY(-2px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideLeftAndFade {
  from {
    transform: translateX(2px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}
