/* stylelint-disable selector-class-pattern */
@import "../../../styles/theme";
@import "../../../styles/mixin";

.content {
  background-color: #fff;

  .header {
    display: flex;
    gap: $p-m;
    margin: $p-l $p-l;
  }

  .search {
    flex: 1 1 0;
    flex-grow: 1;
    width: 100%;
  }

  &.collapsed {
    min-width: 50px;
    padding: $p-l 0 0 $p-l;
    border-right: none
  }
}

.results {
  margin: $p-l $p-l;

  .result {
    @include button;

    mark {
      padding: 0;
      font-weight: 600;
      color: var(--accent2);
      background-color: transparent;
    }

    &:focus-visible,
    &.selected {
      outline: 2px solid #d1c9ff;
      outline-offset: 1px;
    }
  }
}

.tree {
  margin: var(--spc) 0;
}


:global {
  .rc-tree-treenode {
    cursor: pointer;
    display: flex;
    padding: var(--spc) 0 var(--spc) var(--spc-l);
    white-space: nowrap;

    &:hover,
    &.rc-tree-treenode-selected {
      color: var(--primary);
      background-color: var(--bg3);
    }

    &.rc-tree-treenode-leaf-last {
      .rc-tree-switcher {
        pointer-events: none;
        opacity: 0;
      }
    }

    .rc-tree-switcher {
      margin-right: var(--spc);
      transition: transform 0.15s;

      &.rc-tree-switcher_open {
        transform: rotate(90deg);
      }

      &:hover {
        background-color: var(--bg5);
      }
    }

    .rc-tree-node-content-wrapper {
      overflow: hidden;
      flex-grow: 1;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .rc-tree-indent-unit {
      display: block;
      width: var(--spc-m);
    }
  }
}
