/* stylelint-disable selector-class-pattern */

@import "../../../styles/mixin";


.empty {
  display: block;
  padding: var(--spc) var(--spc-l) 0 11px;
  font-size: var(--font-s);
}


:global {
  .rc-tree-list-holder-inner {
    gap: var(--spc-s);
  }

  .rc-tree-treenode {
    cursor: pointer;
    display: flex;
    white-space: nowrap;

    &:hover,
    &.rc-tree-treenode-selected {
      color: var(--primary);
      background-color: var(--bg2);
    }

    .rc-tree-switcher {
      width: 16px;
      height: 16px;
      margin: var(--spc-xs) var(--spc-s) var(--spc-s) var(--spc);
      border-radius: 100%;

      >svg {
        transition: transform 0.15s;
      }

      &.rc-tree-switcher_open {
        >svg {
          transform: rotate(90deg);
        }
      }

      &.rc-tree-switcher-noop {
        pointer-events: none;
        opacity: 0;
      }

      &:hover {
        background-color: var(--bg1);
      }
    }

    .rc-tree-node-content-wrapper {
      overflow: hidden;
      flex-grow: 1;

      padding: var(--spc-s) 0 var(--spc-s) var(--spc);

      line-height: var(--lh-s);
      color: var(--text-secondary);
      text-overflow: ellipsis;
      white-space: nowrap;

      &.rc-tree-node-selected {
        color: var(--primary);
      }
    }

    .rc-tree-indent-unit {
      display: block;
      width: var(--spc-m);
    }
  }
}
