@import "../../../styles/theme";
@import "../../../styles/mixin";

.tree {
  background-color: #fff;

  .treeHeader {
    display: flex;
    gap: $p-m;
    margin: $p-l $p-l;
  }

  .search {
    flex: 1 1 0;
    margin-right: $p-l;
  }

  &.collapsed {
    min-width: 50px;
    padding: $p-l 0 0 $p-l;
    border-right: none
  }
}

.results {
  margin: $p-l $p-l;

  .result {
    @include button;

    display: flex;
    padding: $p $p-l;

    mark {
      padding: 0;
      font-weight: 600;
      color: $primary;
      background-color: transparent;
    }

    &:focus-visible,
    &.selected {
      outline: 2px solid #d1c9ff;
      outline-offset: 1px;
    }
  }
}

.empty {
  padding: $p-xl;
  color: $gray-600;
}
