@import "../../../styles/theme";
@import "../../../styles/mixin";

$min-height: 34px;

.line {
  display: grid;
  grid-template-columns: 150px auto;
  align-items: flex-start;

  min-height: $min-height;
  margin-bottom: $p-3xl;

  line-height: $line-height-m;

  .title {
    padding-top: 2px;
    font-size: $font-s;
    font-weight: 500;
    color: var(--text);
  }

  .values {
    display: flex;
    flex-wrap: wrap;
    gap: $p $p;
    align-items: flex-start;
    justify-content: flex-start;

    min-height: $min-height;

    &.clickToEdit {
      @include editable;

      margin: -5px -8px;
    }
  }
}

.item {
  display: inline-flex;
  gap: $p;
  align-items: center;

  min-width: 134px;
  max-width: 134px;
  padding: $p-s $p-l;

  font-size: $font-s;
  color: var(--text);

  border: 1px solid var(--border1);
  border-radius: $border-radius;

  &:hover {
    color: var(--accent2);
    background: var(--bg2);
  }

  >svg {
    font-size: $font-s;
  }

  .label {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
