.merge {
  background-color: #fff;
  border-top: 1px solid var(--border1);
}

.checkLine {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: var(--spc-xl) var(--spc-5xl);

  color: var(--text4);

  border-bottom: 1px solid var(--border1);

  .label {
    display: flex;
    gap: var(--spc-m);
    align-items: center;

    :global(> .tabler-icon) {
      font-size: var(--font-l);
      color: var(--text);
    }
  }

  &.success {
    .label :global(> .tabler-icon) {
      color: var(--green-8);
    }
  }

  &.warning {
    color: var(--amber-9);

    .label :global(> .tabler-icon) {
      color: var(--amber-8);
    }
  }

  &.danger {
    color: var(--tomato-9);

    .label :global(> .tabler-icon) {
      color: var(--tomato-8);
    }
  }

  &:last-child {
    padding: var(--spc-2xl) var(--spc-5xl);
    background-color: var(--bg1);
    border-bottom: none;

    &.merged {
      background-color: var(--purple-3);
    }
  }
}

.mergeAction {
  display: flex;
  gap: var(--spc-m);
  align-items: center;
}

.mergeButton {
  &.success {
    color: #fff;
    background-color: var(--green-9);

    &:hover {
      background-color: var(--green-8) !important;
    }
  }

  &.merged {
    color: var(--purple-10);
  }
}
