.header {
  padding: var(--spc-6xl);
}

.states {
  padding: 0 var(--spc-6xl) var(--spc-6xl) var(--spc-6xl);
}

.block {
  min-width: 200px;

  .label {
    padding: 0 0 var(--spc-m);
    font-size: var(--font-s);
    color: var(--text-secondary);
  }
}

.logs {
  background-color: var(--bg2) !important;
  border: none !important;

  code,
  code span {
    font-family: var(--font-code) !important;
    font-size: var(--font) !important;
    font-weight: inherit;
    font-style: inherit;
    font-variant-ligatures: inherit;
    line-height: inherit;
    text-shadow: none !important;
    text-rendering: inherit;
    letter-spacing: inherit;

    -webkit-font-smoothing: antialiased;
  }
}
