.banner {
  display: flex;
  align-items: center;

  padding: var(--spc-xl);

  background-color: #fff;
  border: 1px solid var(--border2);
  border-radius: var(--radius2);

  p:last-of-type {
    margin-block-end: 0;
  }

  &.error {
    border-color: var(--tomato-8);

    .icon {
      color: var(--tomato-9);
    }
  }

  &.warning {
    border-color: var(--amber-8);

    .icon {
      color: var(--amber-9);
    }
  }

  &.info {
    border-color: var(--indigo-8);

    .icon {
      color: var(--indigo-9);
    }
  }

  &.success {
    border-color: var(--green-8);

    .icon {
      color: var(--green-9);
    }
  }
}

.icon {
  width: 30px;
}

.content {
  width: 100%;
}
