@import "../../../../../styles/theme";

.invite {
  display: flex;
  flex-direction: column;
  gap: var(--spc-2xl);
}

.list {
  display: flex;
  flex-direction: column;
}

.row {
  padding: var(--spc-l) var(--spc-5xl) var(--spc-l);
  border-bottom: 1px solid var(--border1);
}
