@import "../../styles/theme";

.container {
  display: grid;
}

.header {
  display: flex;
  gap: $p-2xl;

  padding: $p-3xl $p-3xl $p-xl $p-3xl;

  background-color: #fff;
  border: 1px solid $color-border;
}
