/* stylelint-disable selector-class-pattern */
@import "../../../styles/mixin";

.btn {
  --btn-bg: #fff;
  --btn-color: var(--text);
  --btn-border: var(--border2);
  --btn-hvr-color: var(--primary);
  --btn-hvr-border: var(--border2);
  --btn-hvr-bg: var(--bgHover);

  @include ring;

  display: inline-flex;
  flex-shrink: 0;
  gap: var(--spc);
  align-items: center;

  color: var(--btn-color);
  white-space: nowrap;

  background-color: var(--btn-bg);
  border: 1px solid var(--btn-border);
  border-radius: var(--radius2);

  transition-timing-function: ease-in-out;
  transition-duration: 0.15s;
  transition-property: background-color, box-shadow, border-color, color;

  &:hover {
    color: var(--btn-hvr-color);
    background-color: var(--btn-hvr-bg);
    border-color: var(--btn-hvr-border);
  }

  // Colors / Type
  &.default {
    --btn-color: var(--text);
  }

  &.primary {
    --btn-color: var(--primaryText);
    --btn-bg: var(--primary);
    --btn-hvr-bg: var(--primaryHover);
    --btn-hvr-color: var(--primaryText);

    .loader {
      color: var(--primaryText);
    }
  }

  &.ghost {
    --btn-color: var(--text3);
    --btn-bg: transparent;
    --btn-border: transparent;
    --btn-hvr-color: var(--text);
  }

  &.item {
    --btn-color: var(--text3);
    --btn-border: transparent;
    --btn-hvr-color: var(--text);

    border-color: transparent;
    border-radius: 0;
  }

  &.danger {
    --btn-color: var(--tomato-9);
    --btn-bg: #fff;
    --btn-border: var(--tomato-8);
    --btn-hvr-color: var(--tomato-9);
    --btn-hvr-border: var(--tomato-9);
    --btn-hvr-bg: #fff;

    &.primary {
      --btn-color: #fff;
      --btn-hvr-color: #fff;
      --btn-bg: var(--tomato-9);
      --btn-border: var(--tomato-9);
      --btn-hvr-bg: var(--tomato-10);
    }

    &.item {
      --btn-border: transparent;
      --btn-hvr-color: #fff;
      --btn-hvr-bg: var(--tomato-10);

      &:hover {
        color: #fff;
        background-color: var(--tomato-10);
      }
    }
  }

  // Sizing
  &.xs {
    height: var(--h-xs);
    padding: var(--spc-xs) var(--spc);
    font-size: var(--font-xs);
  }

  &.s {
    height: var(--h-s);
    padding: var(--spc-xs) var(--spc-m);
    font-size: var(--font-s);
  }

  &.m {
    height: var(--h-m);
    padding: var(--spc) var(--spc-l);
  }

  &.l {
    gap: var(--spc-l);
    height: var(--h-l);
    padding: var(--spc-m) var(--spc-l)
  }

  &.xl {
    gap: var(--spc-l);
    height: var(--h-xl);
    padding: var(--spc-2xl) var(--spc-xl)
  }

  &:disabled {
    cursor: not-allowed;

    // color: var(--text3);
    opacity: 0.70;
  }

  &.block {
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  &.loading {
    svg+svg {
      display: none;
    }
  }
}
