/* stylelint-disable selector-class-pattern */
@import "../../../styles/mixin";

.btn {
  @include ring;

  display: inline-flex;
  flex-shrink: 0;
  gap: var(--spc);
  align-items: center;

  border: 1px solid var(--border2);
  border-radius: var(--radius2);

  transition-timing-function: ease-in-out;
  transition-duration: 0.15s;
  transition-property: background-color, box-shadow, border-color, color;

  &:hover {
    background-color: var(--bg2);
  }

  // Colors / Type
  &.default {
    background-color: #fff;

    &:hover {
      color: var(--text);
      border-color: var(--border4);
    }

    &.danger {
      color: var(--tomato9);
      border-color: var(--tomato9);

      &:hover {
        color: var(--tomato11);
        border-color: var(--tomato11);
      }
    }
  }

  &.primary {
    color: var(--primaryText);
    background-color: var(--primary);

    &:hover:not([disabled]) {
      background-color: var(--primaryHover);
    }

    .loading {
      color: var(--primaryText);
    }
  }

  &.ghost {
    color: var(--text3);
    background-color: transparent;
    border-color: transparent;

    &:hover {
      color: var(--text);
    }

    &.danger {
      &:hover {
        color: var(--tomato9);
      }
    }
  }

  &.item {
    color: var(--text3);
    border-color: transparent;

    &:hover {
      color: var(--text);
    }

    &.danger {
      color: var(--tomato9);

      &:hover {
        color: #fff;
        background-color: var(--tomato9);
      }
    }
  }

  // Sizing
  &.s {
    height: var(--h-s);
    padding: var(--spc-xs) var(--spc-m);
    font-size: var(--font-s);
  }

  &.m {
    height: var(--h-m);
    padding: var(--spc) var(--spc-l);
  }

  &.l {
    height: var(--h-l);
    padding: var(--spc-m) var(--spc-l);
  }

  &:disabled {
    cursor: not-allowed;
    color: var(--text3);
    background-color: var(--bg1);
  }

  &.block {
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}
