.item {
  border: 1px solid var(--border1);
  border-radius: var(--radius3);
  transition: opacity 0.25s ease-in-out;


  &.accepted {
    .result {
      color: var(--green-9);
      border-color: var(--green-8);
    }
  }

  &.rejected {
    .result {
      color: var(--amber-9);
      border-color: var(--amber-8);
    }
  }
}

.header {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: var(--spc-l) var(--spc-xl);
}

.label {
  display: flex;
  gap: var(--spc-m);
  align-items: center;
}

.result {
  display: flex;
  gap: var(--spc-m);
  align-items: center;

  padding: 0 var(--spc-m);

  border: 1px solid var(--border1);
  border-radius: var(--radius3);
}

.content {
  overflow: hidden;
  padding: 0 var(--spc-xl) var(--spc-m) var(--spc-xl);

  &.close {
    height: 0;
    padding-bottom: 0;
  }
}
