@import "../../../styles/theme";

.item {
  border: 1px solid $gray-100;
  border-radius: var(--radius3);
  transition: opacity 0.25s ease-in-out;


  &.accepted {
    .result {
      color: $emerald-500;
      border-color: $emerald-500;
    }
  }

  &.rejected {
    .result {
      color: $orange-500;
      border-color: $orange-500;
    }
  }
}

.header {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: var(--spc-l) var(--spc-xl);

  color: $gray-600;

}

.label {
  display: flex;
  gap: var(--spc-m);
  align-items: center;
}

.result {
  display: flex;
  gap: var(--spc-m);
  align-items: center;

  padding: 0 var(--spc-m);

  border: 1px solid $gray-100;
  border-radius: var(--radius3);
}

.content {
  overflow: hidden;
  padding: 0 var(--spc-xl) var(--spc-m) var(--spc-xl);

  &.close {
    height: 0;
    padding-bottom: 0;
  }
}
