@import '../../theme.scss';

$size-menu: 150px;
$size-center-max: 1050px;

.container {
  display: grid;
  gap: 16px;
  grid-template:
    'top top top'
    'left center right' auto / $size-menu minmax(765px, $size-center-max)
    minmax(400px, 1fr);
  transition: grid-template 0.5s ease-in-out;

  &.largerRight {
    grid-template:
      'top top top'
      'left center right' auto / $size-menu minmax(500px, $size-center-max)
      minmax(550px, 1fr);
    .right {
      height: 450px;
    }
  }
  &.noRight {
    grid-template:
      'top top'
      'left center' auto / $size-menu 1fr;
    .right {
      display: none;
    }
  }
  &.noCenter {
    grid-template:
      'top top top'
      'left center right' auto / $size-menu minmax(0px, 10px) 1fr;
    .right {
      height: 550px;
    }
    // .center {
    //   display: none;
    // }
  }
}
.header {
  grid-area: top;
  margin-bottom: $p-l;
}
.left {
  grid-area: left;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.center {
  grid-area: center;
}
.right {
  grid-area: right;
  width: inherit;
  margin: 0 0 0 0;
  height: 350px;
}

.links {
  border-top: 1px solid $gray-4;
  padding: $p-xxl $p-l;
  margin-inline-end: $p-m;
  margin-left: $p-s;
}
.link {
  color: $gray-7;
  display: block;
  font-size: $font;
  line-height: $line-height-m;
  display: flex;
  gap: $p-m;
}
