@import '../../theme.scss';


$size-center-max: 850px;

.container {
  display: grid;
  gap: 16px;
  grid-template:
    'center right' auto / minmax(750px, $size-center-max) minmax(550px, 1fr);
  transition: grid-template 0.5s ease-in-out;

  &.largerRight {
    grid-template:
      'center right' auto / minmax(750px, $size-center-max) minmax(550px, 1fr);

    .right {
      height: 450px;
    }
  }

  &.noRight {
    grid-template:
      'center' auto / 1fr;

    .right {
      display: none;
    }
  }

  &.noCenter {
    grid-template:
      'right' auto / 1fr;

    .right {
      height: 550px;
    }
  }
}

.header {
  display: grid;
  grid-template-columns: 300px 1fr;
  border-bottom: 1px solid #f9fbff;
  padding: $p-xl $p-xxl $p $p-xxl;
}

.left {
  grid-area: left;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.center {
  grid-area: center;
}

.right {
  grid-area: right;
  width: inherit;
  margin: 0 0 0 0;
  height: 450px;
}

// ---- LEFT
.menu {
  background-color: transparent;
  border: none;
  height: 35px;
  margin-top: $p-xl + 3px;

  a:hover {
    text-decoration: none;
  }

  :global {
    .ant-menu-item {
      padding-inline: $p-s;

      &:after {
        display: none;
      }

      &:hover {}

      &.ant-menu-item-selected {
        :local(.link) {
          background-color: $gray-4 !important;

        }
      }
    }
  }
}

.links {
  border-top: 1px solid $gray-4;
  padding: $p-xxl 0;
  // margin-inline-end: $p-m;
  // margin-left: $p-s;
}

.link {
  color: $gray-9 !important;
  display: block;
  font-size: $font;
  line-height: $line-height-m;
  display: flex;
  gap: $p-m;
  padding: $p-s $p-l;
  border-radius: 4px;

  &:hover {
    background-color: $gray-4 !important;
  }
}
