@import "../../styles/theme";

.header {
  display: grid;
  grid-template-columns: 300px 1fr;
  align-content: normal;

  padding: $p-3xl $p-2xl $p-xl $p-3xl;

  background-color: #fff;
  border: 1px solid $color-border;
}

.links {
  padding: $p-2xl 0;
  border-top: 1px solid $gray-4;
}

.link {
  display: flex;
  gap: $p-m;

  padding: $p-xs $p-l;

  font-size: $font;
  line-height: $line-height-m;
  color: $gray-9 !important;

  border-radius: 4px;

  transition: background-color 0.25s ease-in-out;

  &:hover {
    color: $gray-10 !important;
    text-decoration: none;
    background-color: $gray-4 !important;
  }
}
