.searchWrapper {
  display: flex;
  gap: var(--spc-l);
  align-items: center;
  justify-content: space-between;

  padding: var(--spc-6xl);

  .placeholderReset {
    pointer-events: none;
    width: 24px;
  }
}

.list {
  display: flex;
  flex-direction: column;
}

.row {
  padding: var(--spc-l) var(--spc-6xl) var(--spc-xl) var(--spc-6xl);
  border-bottom: 1px solid var(--border1);
}

.title {
  font-weight: 500;
}

.typeId {
  font-weight: 300;
  color: var(--text2);
}

.info {
  font-size: var(--font-s);
  color: var(--text2)
}
