@import "../../../../styles/theme";



.searchWrapper {
  display: flex;
  gap: $p-l;
  align-items: center;
  justify-content: center;

  padding: $p-3xl;
}

.search {
  display: flex;
  gap: $p-l;
  width: 50%;
  min-width: 500px;

  .inputs {
    width: calc(100% - 30px);
  }
}

.title {
  font-size: $font-m;
  font-weight: 600;
  color: $gray-800;
}

.subtitle {
  font-size: $font-s;
  color: $gray-400;
}
