@import "../../../styles/theme";
@import "../../../styles/mixin";

.container {
  display: grid;
  grid-template-columns: 200px 750px;
  gap: $p-2xl;
}

.flex {
  display: flex;
  flex-direction: column;
  gap: $p-5xl;
}
