@import "../../../../styles/theme";

.wrapper {
  position: relative;

  margin-bottom: $p-l;
  padding: $p-xl $p-2xl;

  background-color: $gray-50;
  border-radius: $border-radius-s;

  .pre,
  .code {
    font-weight: inherit;
    font-style: inherit;
    font-variant-ligatures: inherit;
    line-height: inherit;
    text-rendering: inherit;
    letter-spacing: inherit;

    -webkit-font-smoothing: antialiased;
  }

  .pre {
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;

    .code {
      display: block;

      width: 100%;

      font-family: $font-code;
      font-size: $font;
      text-shadow: none;

      background-color: transparent;
    }
  }
}

.edit {
  position: absolute;
  z-index: 1;
  top: $p-xl;

  width: 100%;

  color: black;

  -webkit-text-fill-color: transparent;

}


.display {
  pointer-events: none;
  position: relative;
  z-index: 2;
  padding-bottom: $p-xl;
}
