@import "../../../styles/theme";

.team {
  display: flex;
  flex-direction: column;
  gap: $p-5xl;
  width: $main-col-w;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.lines {
  display: flex;
  flex-direction: column;
  gap: $p-3xl;
}

.title {
  padding: $p-m $p-2xl 0 0;
}


.search {
  width: 250px;
}

.empty {
  padding: 0 $p-2xl $p-l;
  color: $gray-400;
}
