@import "../../styles/theme";

.avatar {
  user-select: none;

  position: relative;

  overflow: hidden;
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;

  vertical-align: middle;

  border: 1px solid transparent;

  &.default {
    width: 32px;
    height: 32px;
    font-size: var(--font-s);
  }

  &.small {
    width: 22px;
    height: 22px;
    font-size: 8px;
  }

  &.medium {
    width: 40px;
    height: 40px;
  }

  &.large {
    width: 48px;
    height: 48px;
  }

  &.xl {
    width: 64px;
    height: 64px;
  }

  &.square {
    border-radius: var(--radius3);
  }

  &.circle {
    border-radius: 100%;
  }

  &.icon {
    overflow: initial;
    display: inline-block;

    >div {
      position: relative;

      width: 22px;
      height: 22px;
      padding: 2px 0 0 4px;

      font-size: $font-s;

      border-radius: 100%;
    }

    .image,
    .fallback {
      position: absolute;
      top: 12px;
      left: 12px;


      width: 16px;
      height: 16px;

      border: 1px solid #fff;
      border-radius: inherit;
    }
  }
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}

.fallback {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  font-weight: 500;
  color: var(--text);

  background-color: var(--bg5);
}

.group {
  display: flex;

  >span:not(:first-child) {
    margin-inline-start: -8px;
    border-color: #fff;
  }
}
