@import "../../../../styles/theme";

.list {
  padding: var(--spc-4xl) var(--spc-4xl);
}

.item {
  padding: var(--spc-m) var(--spc-xl);

  .title {
    font-size: var(--font-m);
    font-weight: 600;
    color: $gray-800;
  }

  .subtitle {
    font-size: var(--font-s);
    color: $gray-400;
  }
}

.categories {
  padding: var(--spc-4xl) var(--spc-4xl);
}

.category {
  // flex-grow: 1;

  min-width: 31%;

  // width: max-content;
  padding: var(--spc-xl) var(--spc-3xl);
  border: 1px solid var(--border1);
  border-radius: $border-radius;

  .icon {
    font-size: var(--font-l);
    color: var(--accent2);
  }
}
