@import "../../../../styles/theme";


.list {
  padding: $p-4xl $p-4xl;
}

.item {
  padding: $p-m $p-xl;

  .title {
    font-size: $font-m;
    font-weight: 600;
    color: $gray-800;
  }

  .subtitle {
    font-size: $font-s;
    color: $gray-400;
  }
}

.categories {
  padding: $p-4xl $p-4xl;
}

.category {
  // flex-grow: 1;

  min-width: 31%;

  // width: max-content;
  padding: $p-xl $p-3xl;
  border: 1px solid var(--borderLight);
  border-radius: $border-radius;

  .icon {
    font-size: $font-l;
    color: var(--accent);
  }
}
