@import "../../../../styles/theme";

.list {
  min-width: $main-col-w;
  max-width: $main-col-w;
  margin: $p-4xl;
}

.title {
  font-size: $font-m;
  font-weight: 600;
  color: $gray-800;
}

.subtitle {
  font-size: $font-s;
  color: $gray-400;
}
