.list {
  padding: var(--spc-4xl) var(--spc-4xl);
}

.item {
  padding: var(--spc-m) var(--spc-xl);

  .title {
    font-size: var(--font-m);
    font-weight: 500;
  }
}

.categories {
  padding: var(--spc-4xl) var(--spc-4xl);
}

.category {
  min-width: 31%;
  padding: var(--spc-xl) var(--spc-3xl);
  border: 1px solid var(--border1);
  border-radius: var(--radius3);

  .icon {
    font-size: var(--font-l);
    color: var(--accent2);
  }
}
