.welcome {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100vh;

  background-color: #fff;
}

.intro {
  padding: var(--spc-2xl) 0 var(--spc-6xl);
}

.job {
  width: 70%;
  height: 110px;

  >div {
    padding-left: 0;
  }
}

.go {
  margin-top: 34px;
}
