/* stylelint-disable selector-class-pattern */


.container {
  position: relative;

  display: grid;

  height: 100%;
  min-height: 250px;

  font-weight: 300;

  &:hover {
    >div[data-toolbar] {
      opacity: 1;
    }
  }

  .flow {
    :global {
      .react-flow__edge {
        &:local(.focus) {
          .react-flow__edge-path {
            stroke: var(--accent2);
          }
        }
      }
    }

    &.hasHighlight {
      &.downlightOther {
        :global {
          .react-flow__node:not(:local(.show)) {
            opacity: 0.3;
          }

          .react-flow__edge:not(:local(.show)) {
            opacity: 0.7;
          }
        }
      }

      :global {
        .react-flow__edge {
          &:local(.show) {
            .react-flow__edge-path {
              stroke: var(--accent2);
              stroke-dasharray: 5;
            }
          }
        }
      }
    }

    &.readonly {
      :global {
        .react-flow__handle {
          pointer-events: none;
          opacity: 0;
        }

        .react-flow__resize-control {
          pointer-events: none;
        }
      }
    }
  }
}

:global {
  .react-flow__edge {
    transition: opacity 0.2s ease-in;
  }

  .react-flow__node {
    transition: opacity 0.2s ease-in;

    .react-flow__handle-valid {
      transform: scale(1.3);
      opacity: 1;
      border-color: var(--accent2) !important;
    }
  }

  // .react-flow__edges.react-flow__container {
  //   z-index: 199999 !important;
  // }

  .react-flow__edge-path {
    stroke: var(--mauve-8);
  }

  .react-flow__handle-right,
  .react-flow__handle-left,
  .react-flow__handle-top,
  .react-flow__handle-bottom {
    top: initial;
    right: initial;
    bottom: initial;
    left: initial;
    transform: initial;
  }
}


.animateReadLine {
  animation: runningLine 30s reverse infinite linear;
}

.animateWriteLine {
  animation: runningLine 30s infinite linear;
}

@keyframes runningLine {
  to {
    stroke-dashoffset: -1000;
  }
}


.highlightToGroup {
  outline: 1px dashed var(--accent2);
}
