@import '../../../theme.scss';

.team {
  display: inline-flex;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 32px;
  > div {
    display: inline-flex;
    align-items: center;
    gap: 4px;
  }
}

.block {
  margin-top: 32px;
}

// Comp
.line {
  display: grid;
  grid-template-columns: 150px auto;
  margin-bottom: 12px;
}
.comp {
  a {
    color: $gray-8;
  }
  font-size: $font;
  display: inline-block;

  & + .comp:before {
    content: ', ';
  }
}
