@import "../../../theme";

.team {
  display: inline-flex;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 32px;

  >div {
    display: inline-flex;
    gap: 4px;
    align-items: center;
  }
}

.block {
  margin-top: 32px;
}

// Comp
.line {
  display: grid;
  grid-template-columns: 150px auto;
  margin-bottom: 12px;
}

.comp {
  display: inline-block;
  font-size: $font;

  a {
    color: $gray-9;
  }

  & + .comp::before {
    content: ", ";
  }
}

.editable {
  padding-left: $p-l;
  white-space: pre-line;
  border-left: 2px solid #0958d9;

  &.edited {
    border-left-color: #52c41a;
  }
}
