/* stylelint-disable selector-class-pattern */
.code {
  display: flex !important;

  margin-bottom: var(--spc-l);
  padding: var(--spc-l) var(--spc-2xl) !important;

  background-color: var(--bg2) !important;
  border: none !important;

  pre {
    margin: 0;
    padding: 0;
    background-color: transparent;
  }

  code,
  code span {
    font-family: var(--font-code) !important;
    font-size: var(--font) !important;
    font-weight: inherit;
    font-style: inherit;
    font-variant-ligatures: inherit;
    line-height: inherit;
    text-shadow: none !important;
    text-rendering: inherit;
    letter-spacing: inherit;

    -webkit-font-smoothing: antialiased;
  }

  :global {
    .language-log {
      .token.error {
        font-weight: 500;
        color: var(--tomato-9);
      }

      .token.keyword {
        color: var(--blue-9);
      }

      .token.property {
        color: var(--purple-9);
      }

      .token.url {
        color: var(--indigo-10);
        text-decoration: underline;
      }
    }
  }
}
