@import "../../../styles/theme";
@import "../../../styles/mixin";

.wrapper {
  &.clickToEdit {
    @include editable(0, 0);
  }

  &.opened {
    margin: (-$p-m) (-$p-m);
    padding: $p-m !important;
  }
}

.links {
  display: flex;
  gap: var(--spc-xl);
  margin-top: $p-l;
}

.link {
  display: inline-flex;
  gap: var(--spc);
  align-items: center;

  padding: var(--spc-xs) 0;

  color: var(--text-secondary);

  border-radius: 10px;

  &:hover {
    color: $blue-700;
  }
}

.edits {
  display: flex;
  flex-direction: column;
  gap: $p-l;
  align-items: flex-start;
}

.edit {
  display: flex;
  gap: $p-m;
  width: 100%;
}

.label {
  width: 150px;
}
