@import "../../../styles/mixin";

.wrapper {
  &.clickToEdit {
    @include editable(0, 0);
  }

  &.opened {
    margin: (-var(--spc-m)) (-var(--spc-m));
    padding: var(--spc-m) !important;
  }
}

.links {
  display: flex;
  gap: var(--spc-xl);
  margin-top: var(--spc-l);
}

.link {
  display: inline-flex;
  gap: var(--spc);
  align-items: center;

  padding: var(--spc-xs) 0;

  color: var(--text-secondary);

  border-radius: 10px;

  &:hover {
    color: var(--primary);
  }
}

.edits {
  display: flex;
  flex-direction: column;
  gap: var(--spc-l);
  align-items: flex-start;
}

.edit {
  display: flex;
  gap: var(--spc-m);
  width: 100%;
}

.label {
  width: 150px;
}
