@import "../../../styles/theme";

.team {
  display: inline-flex;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 32px;

  >div {
    display: inline-flex;
    gap: 4px;
    align-items: center;
  }
}

.block {
  margin-top: 32px;
}
