@import "../../../styles/theme";

.team {
  display: inline-flex;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 32px;

  >div {
    display: inline-flex;
    gap: 4px;
    align-items: center;
  }
}

.block {
  margin-top: 32px;
}

.links {
  display: flex;
  gap: $p-m;
  margin-top: $p-l;
}

.link {
  display: inline-flex;
  gap: $p-s;
  align-items: center;

  padding: $p-xs $p;

  font-size: $font;
  color: $gray-700;

  border-radius: 10px;

  &:hover {
    color: $blue-700;
  }
}
