.switcher {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: var(--spc) var(--spc-l) var(--spc) var(--spc);

  font-size: var(--font-m);
  font-weight: 600;

  border: 1px solid transparent;
  border-radius: var(--radius2);

  .name {
    display: flex;
    gap: var(--spc-m);
    align-items: center;
  }

  &:hover,
  &[data-state="open"] {
    border-color: var(--border2);
  }
}

.org {
  display: flex;
  gap: var(--spc-l);
  align-items: center;
  min-width: 200px;

  &.current {
    background-color: var(--bg2);
  }
}

.content {
  overflow-y: scroll;
  max-height: 200px;
}
