@import "../../../styles/theme";


.header {
  height: $height-header-project;
  padding: $p-xl $p-2xl $p-xl $p-2xl;
  background-color: #fff;
  border-bottom: 1px solid var(--border1);
}


.link {
  .badged {
    display: flex;
    gap: $p-m;
    align-items: center;
  }
}
