@import "../../../styles/theme";

.block {
  position: relative;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: $p-s;

  font-size: $font;
  font-weight: 500;
  color: $gray-900;
}
