@import "../../../styles/theme";

.block {
  position: relative;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: $p-l;

  font-size: $font-m;
  font-weight: 500;
  color: var(--text);
}
