.list {
  margin-bottom: 0;
  padding: 0;
  list-style: none;

  li {
    margin-bottom: 4px;
  }
}

.user {
  display: flex;
  gap: var(--spc-m);
  align-items: center;
  justify-content: space-between;
}

.remove {
  width: auto !important;
  height: var(--spc-2xl) !important;
  padding: 1px var(--spc-s) 2px var(--spc-s) !important;
  line-height: var(--lh-s);
  ;
}
