@import "../../styles/theme";

.container {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;

  >div {
    width: 400px;
  }
}


.logo {
  display: flex;
  margin-bottom: var(--spc-2xl);
}

.oauth {
  margin-bottom: var(--spc-3xl);
  padding: var(--spc-3xl) 0;
  border-bottom: 1px solid $gray-100;
}
