@import "../../styles/theme";

.container {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;

  >div {
    width: 450px;
  }
}


.logo {
  display: flex;
  margin-bottom: $p-2xl;
}
