@import "../../../styles/theme";
@import "../../../styles/mixin";

.details {
  display: flex;
  flex-direction: column;
  gap: $p-2xl;
}

.blockTitle {
  margin-bottom: var(--spc-xl);
}

.add {
  color: $gray-600;
}
