@import "../../../styles/theme";

.row {
  position: relative;

  &:not(&.isChild) {
    &::after {
      content: " ";

      position: absolute;
      bottom: -25px;
      left: 11px;

      display: block;

      width: 1px;
      height: 100%;

      background-color: var(--bg5);
    }
  }

  &.isChild {
    margin-left: 40px;
  }
}

.main {
  position: relative;
  display: flex;
  gap: $p-l;
}

.desc {
  flex-grow: 1;
  align-items: center;
  font-size: var(--font-s);
  color: var(--text-secondary);

  a:not(.username) {
    font-weight: 500;
  }
}

.date {
  flex-grow: 0;

  width: 70px;

  font-size: var(--font-s);
  color: var(--text-secondary);
  text-align: right;
}

.dot {
  position: relative;
  z-index: 2;

  display: flex;
  display: none;
  align-items: center;
  justify-content: center;

  width: 8px;
  height: 8px;

  font-size: var(--font-2xl);
  color: white;

  background-color: var(--bg5);
  border-radius: 50%;
  outline: 2px solid var(--bg2);
}

.username {
  color: var(--text);
}

.target {
  color: var(--colorLink);
  border-radius: $border-radius-s;
}
