@import "../../../styles/theme";

.row {
  position: relative;

  &:not(&.isChild) {
    &::after {
      content: " ";

      position: absolute;
      bottom: -21px;
      left: 15px;

      display: block;

      width: 1px;
      height: 18px;

      background-color: var(--bgDark);
    }
  }

  &.isChild {
    margin-left: 40px;
  }
}

.main {
  position: relative;
  display: flex;
  gap: $p-m;
  align-items: center;
}

.desc {
  flex-grow: 1;
  align-items: center;
  color: var(--textLight);

  a {
    color: var(--text);
  }
}

.date {
  flex-grow: 0;

  width: 55px;

  font-size: $font-s;
  color: $gray-400;
  text-align: right;
}

.dot {
  position: relative;
  z-index: 2;

  display: flex;
  display: none;
  align-items: center;
  justify-content: center;

  width: 8px;
  height: 8px;

  font-size: $font-2xl;
  color: white;

  background-color: var(--bgDark);
  border-radius: 50%;
  outline: 2px solid var(--bg);
}

.target {
  padding: 0 $p;
  border: 1px solid var(--border);
  border-radius: $border-radius-s;
}

.details {
  margin: $p-m 0 0 40px;
  padding: $p-l $p-2xl;

  background-color: white;

  // border: 1px solid var(--border);
  border-radius: $border-radius-s;
  box-shadow: $box-shadow2;
}
