@import '../../../theme.scss';

.container {
  display: grid;
  grid-template-columns: minmax(750px, 850px) 200px;
  gap: $p-xl;

  &.withMenu {
    margin-left: 200px;
  }

  .title {
    margin-bottom: 4px;
  }
}

.right {
  padding-top: $p-xxl;
}

.lastUpdate {
  color: $gray-6;
  font-size: $font-s;
}

.infoHeader {
  margin-bottom: $p-s;
  font-size: $font-s;
  font-weight: bold;
  color: $gray-8;
}

.infoBlock {
  margin-bottom: $p-xxl;
}

.headings {
  position: absolute;
  left: -200px;
  top: 20px;
  z-index: 1;
}

.tldr {
  margin-top: $p-xxl;
}

.tldrList {
  list-style: none;
  padding: 0;

  li {
    margin: 0;
  }
}

.content {
  h1 {
    font-size: $font-xxl;
  }

  h2 {
    font-size: $font-l;
  }

  h3 {
    font-size: $font-m;
    color: $gray-9;
  }

  h4 {
    font-size: $font-m;
    color: $gray-8;
  }
}

.userList {
  list-style: none;
  padding: 0;

  li {
    margin-bottom: 4px;
  }
}
