@import '../../theme.scss';

.container {
  max-width: calc(760px + 500px);
  transition: margin-left 0.3s ease-in-out;

  &.withMenu {
    margin-left: 200px;
  }

  .title {
    margin-bottom: 4px;
  }
}

.lastUpdate {
  color: $gray-6;
  font-size: $font-s;
}

.infoHeader {
  margin-bottom: 8px;
}

.infoBlock {
  margin-bottom: 18px;
}

.headings {
  position: absolute;
  left: -200px;
  top: 20px;
  z-index: 1;
}

.content {
  .tldrList {
    list-style: none;
    padding: 0;
    li {
      margin: 0;
    }
  }

  h1 {
    font-size: $font-xxl;
  }
  h2 {
    font-size: $font-l;
  }
  h3 {
    font-size: $font-m;
    color: $gray-9;
  }
  h4 {
    font-size: $font-m;
    color: $gray-8;
  }
}

.userList {
  list-style: none;
  padding: 0;
  li {
    margin-bottom: 4px;
  }
}
