@import '../../theme.scss';

.container {
  padding: 32px;

  .title {
    margin-bottom: 4px;
  }
}

.lastUpdate {
  color: $gray-6;
  font-size: $font-s;
}

.infoHeader {
  margin-bottom: 8px;
}

.infoBlock {
  margin-bottom: 18px;
}

.content {
  .tldrList {
    list-style: none;
    padding: 0;
    li {
      margin: 0;
    }
  }

  h1 {
    font-size: $font-xxl;
  }
  h2 {
    font-size: $font-l;
  }
  h3 {
    font-size: $font-m;
    color: $gray-9;
  }
  h4 {
    font-size: $font-m;
    color: $gray-8;
  }
}

.userList {
  list-style: none;
  padding: 0;
  li {
    margin-bottom: 4px;
  }
}
