@import "../../../styles/theme";

.block {
  margin-bottom: var(--spc-2xl);
  border: 1px solid $gray-200;
  border-radius: var(--radius3);
}

.header {
  cursor: pointer;

  display: flex;
  gap: var(--spc-m);
  align-items: center;

  padding: var(--spc-xl);

  font-size: var(--font-l);
  font-weight: 600;

  svg {
    font-size: var(--font);
  }
}

.content {
  overflow: hidden;
  padding: 0 var(--spc-xl) var(--spc-m) var(--spc-xl);

  &.close {
    height: 0;
    padding-bottom: 0;
  }
}
