@import "../../styles/theme";

.container {
  // width: 250px;
  position: relative;
}

.search {}

.list {
  overflow: scroll;
  max-height: 150px;
  position: absolute;
  background: #fff;
  box-shadow: $box-shadow2;
  width: 100%;
  z-index: 1;
  padding: $p-l $p-m 0 $p-m;
}

.group {
  margin-bottom: $p-m;
}

.groupTitle {
  padding: 0 0 0 $p-s;
  font-size: $font-s;
  color: $gray-400;
}

.item {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: $p-s $p-m;

  border-radius: $border-radius;

  &:hover {
    background-color: $gray-100;
  }
}
