.main {
  padding: var(--spc-6xl) var(--spc-6xl) var(--spc-4xl);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--spc-l);
}

.actions {
  display: flex;
  gap: var(--spc-m);
}

.title {
  font-size: var(--font);
}

.item {
  cursor: pointer;

  display: flex;
  gap: var(--spc-l);

  padding: var(--spc-l);

  border-bottom: 1px solid var(--border1);

  transition: border 0.25s ease-in-out;

  &:hover {
    .title {
      color: var(--accent2)
    }
  }
}

.info {
  display: flex;
  gap: var(--spc);

  font-size: var(--font-s);
  color: var(--text2);
  white-space: nowrap;
}

.list {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  margin-top: var(--spc-5xl);
}
