@import "../../../styles/theme";

.container {
  display: flex;
  flex-direction: column;
  gap: $p-xxl;
  max-width: 750px;
}

.gridAction {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
