@import "../../../styles/theme";

.composition {
  position: absolute;
  z-index: 1;
  right: 0;

  display: flex;
  flex-direction: column;

  height: 100vh;

  background-color: #fff;
  border-left: 1px solid var(--border1);
}

.block {
  width: 300px;
  font-size: var(--font-s);

}

.title {
  display: flex;
  justify-content: space-between;

  height: 38px;
  padding: var(--spc-m) var(--spc-xl);

  font-size: var(--font-s);
  font-weight: 600;
  color: var(--text);

  border-top: 1px solid var(--border1);
}

.inside {
  overflow: scroll;
  display: flex;
  flex-direction: column;
  gap: var(--spc-2xl);

  max-height: 500px;
  padding: var(--spc-l) var(--spc-xl);
}

.label {
  font-size: var(--font);
  color: var(--text);
}

.empty {
  padding: var(--spc) var(--spc-xl);
  font-size: var(--font-s);
  color: var(--text1);
}

.noValue {
  color: var(--text1);
}

.info {
  display: flex;
  align-items: center;
  height: 24px;

  .caption {
    width: 70px;
    font-weight: 500;
  }
}

// ---- BLOCK
// Changeset
.change {
  gap: var(--spc-s);
  font-size: var(--font-s);

  >div {
    display: flex;
    justify-content: space-between;
  }
}

// ---- BLOCK
// Main node
.xy {
  display: flex;
  gap: var(--spc-l);
  font-size: var(--font-s);
  color: var(--text2);
}

// ---- Preview
.preview {
  display: flex;
  justify-content: center;
  min-height: 110px;
  padding: var(--spc-l) var(--spc-2xl) var(--spc-5xl) var(--spc-2xl);
}

// ---- BLOCK
// Relation
.relations {
  table-layout: fixed;
  width: 100%;
  margin: 0 0 var(--spc-l) 0
}

.relation {
  height: 35px;

  &:hover {
    background-color: var(--bg2);
  }

  .target {
    text-align: right;
  }

  .source,
  .target {
    overflow: hidden;
    padding: 0 var(--spc-2xl);
    text-overflow: ellipsis;
  }

  .source {
    width: 40%;
    text-align: left;
  }


  .to {
    position: relative;
    width: 40px;
    padding: 0 var(--spc-xl);
  }

  .direction {
    display: flex;
    justify-content: center;

    margin-top: -10px;

    text-align: center;

    background-color: transparent;
  }

  .english {
    position: absolute;
    top: 19px;
    font-size: 9px;
    color: var(--accent2);
  }
}
