.composition {
  position: absolute;
  z-index: 1;
  right: 0;

  overflow-y: auto;
  display: flex;
  flex-direction: column;

  height: 100vh;

  background-color: #fff;
  border-left: 1px solid var(--border1);
}

.block {
  width: 300px;
  font-size: var(--font-s);

}

.title {
  display: flex;
  justify-content: space-between;

  height: 38px;
  padding: var(--spc-m) var(--spc-xl);

  font-size: var(--font-s);
  font-weight: 600;
  color: var(--text);

  border-top: 1px solid var(--border1);
}

.inside {
  overflow: scroll;
  display: flex;
  flex-direction: column;
  gap: var(--spc-2xl);

  max-height: 500px;
  padding: var(--spc-l) var(--spc-xl);
}

.label {
  font-size: var(--font);
  color: var(--text);
}

.empty {
  padding: var(--spc) var(--spc-xl);
  font-size: var(--font-s);
  color: var(--text1);
}

.noValue {
  color: var(--text1);
}

.info {
  display: flex;
  align-items: center;
  height: 24px;

  .caption {
    width: 70px;
    font-weight: 500;
  }
}

// ---- BLOCK
// Changeset
.change {
  gap: var(--spc-s);
  font-size: var(--font-s);

  >div {
    display: flex;
    justify-content: space-between;
  }
}

// ---- BLOCK
// Main node
.xy {
  display: flex;
  gap: var(--spc-l);
  font-size: var(--font-s);
  color: var(--text2);
}

// ---- Preview
.preview {
  display: flex;
  justify-content: center;
  min-height: 110px;
  padding: var(--spc-l) var(--spc-2xl) var(--spc-5xl) var(--spc-2xl);
}

// ---- BLOCK
// Relation
.relations {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  margin: 0 0 var(--spc-l) 0;
}
