@import "../../../styles/theme";

.header {
  height: $height-header-project;
  padding: $p-xl $p-2xl $p-xl $p-3xl;
  background-color: #fff;
  border-bottom: 1px solid var(--border);
}

.avatar {
  overflow: hidden;
  display: flex;
  align-items: center;

  width: 70px;
  height: 70px;

  font-size: 32px;

  background-color: $gray-200;
  border-radius: $border-radius;

  img {
    height: 100%;
    object-fit: cover;
  }
}
