.switcher {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: var(--spc) var(--spc-l) var(--spc) var(--spc);

  font-size: var(--font);
  font-weight: 500;

  border: 1px solid transparent;
  border-radius: var(--radius2);

  .name {
    display: flex;
    gap: var(--spc-l);
    align-items: center;
  }

  &:hover,
  &[data-state="open"] {
    border-color: var(--border2);
  }
}

.org {
  display: flex;
  gap: var(--spc-l);
  align-items: center;
  min-width: 200px;

  &.current {
    color: var(--text);
    background-color: var(--bgHover)
  }
}

.coming {
  padding: 0 var(--spc-s);

  font-size: var(--font-xs);
  line-height: var(--lh-s);
  color: var(--amber-10);

  border: 1px solid var(--amber-3);
  border-radius: var(--radius2);
}
