div.merged {
  color: var(--purple-9) !important;
  background-color: var(--purple-3) !important;
}

div.closed {
  color: var(--tomato-9) !important;
  background-color: var(--tomato-4) !important;
}

div.draft {
  color: var(--text4) !important;
  background-color: var(--border1) !important;
}

div.approved {
  color: var(--green-12) !important;
  background-color: var(--green-3) !important;
}

div.waiting {
  color: var(--sky-12) !important;
  background-color: var(--sky-3) !important;
}
