@import "../../../styles/theme";

div.merged {
  color: $purple-700;
  background-color: $purple-100;
}

div.closed {
  color: $rose-700;
  background-color: $rose-100;
}

div.draft {
  color: $gray-600;
  background-color: $gray-100;
}

div.approved {
  color: $green-700;
  background-color: $green-100;
}

div.waiting {
  color: $sky-700;
  background-color: $sky-100;
}
