@import "../../../styles/theme";

div.merged {
  color: $purple-700 !important;
  background-color: $purple-100 !important;
}

div.closed {
  color: $rose-700 !important;
  background-color: $rose-100 !important;
}

div.draft {
  color: $gray-600 !important;
  background-color: $gray-100 !important;
}

div.approved {
  color: $green-700 !important;
  background-color: $green-100 !important;
}

div.waiting {
  color: $sky-700 !important;
  background-color: $sky-100 !important;
}
