@import '../../theme.scss';

.grid {
  display: grid;
  grid-template-columns: max(700px) 1fr;
}

.left {
  display: flex;
  gap: 16px;
  flex-direction: column;
}
.right {
  padding-top: 85px;
  img {
    width: 100%;
  }
}

.language {
  color: $gray-8;
  margin: 0 22px 0 0;
  font-size: $font;
  display: inline-block;
}

.line {
  display: grid;
  grid-template-columns: 150px auto;
  margin-bottom: 12px;
}
