.at {
  display: inline-flex;
  gap: var(--spc-m);
  align-items: center;

  padding: 0 0 0 var(--spc-m);

  border: 1px solid var(--border1);
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main {
  h4 {
    padding-bottom: var(--spc-xl);
  }
}
